Repository FlagOpen/FlagScale, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FlagOpen/flagscale-reviewers, @zhaoyinglia, @ceci3, @aoyulong, @heavyrain-lzy, @caozhou1995, @phoenixdong, @cyber-pioneer

.github/CODEOWNERS:

# Global reviewers for the entire repository
* @FlagOpen/flagscale-reviewers

vllm/ @zhaoyinglia @ceci3 @aoyulong
megatron/ @heavyrain-lzy @aoyulong @zhaoyinglia
megatron-energon/ @caozhou1995
requirements/ @aoyulong
docker/ @phoenixdong
hardware/ @caozhou1995

flagscale/auto_tuner @caozhou1995
flagscale/compress @ceci3
flagscale/inference @zhaoyinglia
flagscale/runner @aoyulong
flagscale/serve @cyber-pioneer

auto tune
  examples/qwen/conf/config_multiple_instance.yaml
  examples/qwen/conf/serve/serve_multiple_qwen2.5_7b.yaml
  flagscale/runner/auto_tuner/generate.py
  flagscale/runner/runner_serve.py
  flagscale/serve/run_vllm.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong, @cyber-pioneer

polish code2
  examples/qwen/conf/serve/serve_multiple_qwen2.5_7b.yaml
  flagscale/serve/run_vllm_model.py
Owners: @FlagOpen/flagscale-reviewers, @cyber-pioneer

fix code
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

polish code
  flagscale/runner/auto_tuner/generate.py
Owners: @aoyulong

fix code
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

polish code
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

fix code
  examples/qwen/conf/config_multiple_instance.yaml
Owners: @FlagOpen/flagscale-reviewers

fix code
  flagscale/serve/run_inference_engine.py
  flagscale/serve/utils.py
  flagscale/utils.py
Owners: @cyber-pioneer, @FlagOpen/flagscale-reviewers

fix code
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

support multiple vllm instance with openai-style /v1/completions
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

fix code
  examples/qwen/conf/config_multiple_instance.yaml
  flagscale/runner/auto_tuner/record/recorder.py
  flagscale/runner/runner_serve.py
  flagscale/runner/utils.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

fix code
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

formate yaml config
  examples/deepseek/conf/config_deepseek_v3.yaml
  examples/deepseek/conf/serve/deepseek_v3.yaml
  examples/deepseek_r1/conf/serve/deepseek_r1.yaml
  flagscale/runner/runner_serve.py
  flagscale/serve/README.md
Owners: @FlagOpen/flagscale-reviewers, @aoyulong, @cyber-pioneer

remove uncessary code
  flagscale/serve/run_vllm_dev.py
Owners: @cyber-pioneer

polish code
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

kill task when finished
  flagscale/runner/runner_serve.py
Owners: @aoyulong

polish code
  examples/deepseek/conf/config_auto_deepseek_v3.yaml
  examples/qwen/conf/config_qwen2.5_72b_tp.yaml
  examples/qwen/conf/config_ssh_qwen2.5_7b.yaml
Owners: @FlagOpen/flagscale-reviewers

polish yaml
  examples/deepseek/conf/serve/deepseek_v3.yaml
  examples/deepseek_r1/conf/serve/deepseek_r1.yaml
  examples/minicpm_o_2.6/conf/serve/minicpm_o_2.6.yaml
  examples/qwen/conf/serve/serve_qwen2.5_72b.yaml
  examples/qwen/conf/serve/serve_qwen2.5_7b.yaml
  flagscale/runner/auto_tuner/generate.py
  flagscale/runner/runner_serve.py
  flagscale/serve/README.md
  flagscale/serve/run_inference_engine.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong, @cyber-pioneer

polish code
  flagscale/runner/runner_serve.py
Owners: @aoyulong

polish doc
  flagscale/serve/README.md
Owners: @cyber-pioneer

polish code
  flagscale/runner/auto_tuner/search/searcher.py
  flagscale/runner/runner_serve.py
Owners: @aoyulong

polish code3
  examples/qwen/conf/config_multiple_instance.yaml
  examples/qwen/conf/serve/serve_multiple_qwen2.5_7b.yaml
  flagscale/serve/run_vllm_model.py
Owners: @FlagOpen/flagscale-reviewers, @cyber-pioneer

fix code
  flagscale/runner/runner_serve.py
Owners: @aoyulong

fix stream outputs
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

polish code
  examples/qwen/conf/config_multiple_instance.yaml
  examples/qwen/conf/serve/serve_multiple_instance.yaml
  flagscale/runner/auto_tuner/search/searcher.py
  flagscale/runner/auto_tuner/utils.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

fix openai chat input message with list type
  flagscale/runner/auto_tuner/generate.py
  flagscale/serve/run_vllm.py
Owners: @aoyulong, @cyber-pioneer

polish log
  flagscale/runner/auto_tuner/search/searcher.py
Owners: @aoyulong

fix yaml
  examples/qwen/conf/serve/serve_multiple_instance.yaml
Owners: @FlagOpen/flagscale-reviewers

polish code
  examples/qwen/conf/inference/inference_qwen2.5_7b.yaml
Owners: @FlagOpen/flagscale-reviewers

fix code
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

polish code
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

polish code
  README.md
Owners: @FlagOpen/flagscale-reviewers

add case
  examples/qwen/conf/config_multiple_instance.yaml
  examples/qwen/conf/serve/serve_multiple_qwen2.5_7b.yaml
  flagscale/serve/run_vllm_model.py
Owners: @FlagOpen/flagscale-reviewers, @cyber-pioneer

fix code
  examples/qwen/conf/serve/serve_multiple_qwen2.5_7b.yaml
Owners: @FlagOpen/flagscale-reviewers

fix yaml
  examples/qwen/conf/serve/serve_qwen2.5_72b.yaml
  examples/qwen/conf/serve/serve_qwen2.5_7b.yaml
Owners: @FlagOpen/flagscale-reviewers

polish code
  examples/deepseek/conf/config_auto_deepseek_v3.yaml
  examples/deepseek/conf/serve/deepseek_v3.yaml
  examples/deepseek_r1/conf/serve/deepseek_r1.yaml
  examples/qwen/conf/config_multiple_instance.yaml
  examples/qwen/conf/inference/inference_qwen2.5_7b.yaml
  examples/qwen/conf/serve/serve_multiple_instance.yaml
Owners: @FlagOpen/flagscale-reviewers

fix code
  flagscale/runner/runner_serve.py
  flagscale/serve/run_inference_engine.py
  flagscale/serve/run_native_vllm_serve.py
Owners: @aoyulong, @cyber-pioneer

polish config
  README.md
  examples/qwen/conf/config_multiple_instance.yaml
  examples/qwen/conf/serve/serve_multiple_instance.yaml
Owners: @FlagOpen/flagscale-reviewers

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

fix code
  flagscale/runner/auto_tuner/generate.py
Owners: @aoyulong
