Repository FlagOpen/FlagScale, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FlagOpen/flagscale-reviewers, @zhaoyinglia, @ceci3, @aoyulong, @heavyrain-lzy, @caozhou1995, @phoenixdong, @cyber-pioneer

.github/CODEOWNERS:

# Global reviewers for the entire repository
* @FlagOpen/flagscale-reviewers

vllm/ @zhaoyinglia @ceci3 @aoyulong
megatron/ @heavyrain-lzy @aoyulong @zhaoyinglia
megatron-energon/ @caozhou1995
requirements/ @aoyulong
docker/ @phoenixdong
hardware/ @caozhou1995

flagscale/auto_tuner @caozhou1995
flagscale/compress @ceci3
flagscale/inference @zhaoyinglia
flagscale/runner @aoyulong
flagscale/serve @cyber-pioneer

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

debug
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

debug
  examples/qwen/conf/serve/serve_qwen2.5_vl.yaml
  flagscale/serve/run_fs_serve_vllm.py
Owners: @FlagOpen/flagscale-reviewers, @cyber-pioneer

debug
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

fix code
  examples/qwen/conf/serve/serve_qwen2.5_vl.yaml
  flagscale/serve/run_fs_serve_vllm.py
Owners: @FlagOpen/flagscale-reviewers, @cyber-pioneer

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

debug
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

fix code
  examples/qwen/conf/config_qwen2.5_vl.yaml
  examples/qwen/conf/serve/serve_qwen2.5_vl.yaml
Owners: @FlagOpen/flagscale-reviewers

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

debug
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

support llava
  examples/deepseek_r1/conf/hostfile.txt
  examples/qwen/conf/config_qwen2.5_vl.yaml
  examples/qwen/conf/serve/serve_qwen2.5_vl.yaml
  flagscale/serve/run_fs_serve_vllm.py
Owners: @FlagOpen/flagscale-reviewers, @cyber-pioneer

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

debug
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

polish code
  examples/llava_onevision/conf/config_serve_llava.yaml
  examples/llava_onevision/conf/serve/serve_llava.yaml
  examples/qwen/conf/config_multiple_instance.yaml
Owners: @FlagOpen/flagscale-reviewers

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

mutilple node supports n instance
  examples/deepseek_r1/conf/hostfile.txt
  examples/qwen/conf/config_multiple_instance.yaml
  examples/qwen/conf/serve/serve_multiple_instance.yaml
Owners: @FlagOpen/flagscale-reviewers

fix code
  examples/qwen/conf/serve/serve_qwen2.5_vl.yaml
  flagscale/serve/run_fs_serve_vllm.py
Owners: @FlagOpen/flagscale-reviewers, @cyber-pioneer

debug
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

fix code
  examples/llava_onevision/conf/config_serve_llava_onevision.yaml
Owners: @FlagOpen/flagscale-reviewers

fix code
  examples/llava_onevision/conf/config_llava_onevision.yaml
Owners: @FlagOpen/flagscale-reviewers

fix code
  examples/qwen/conf/config_multiple_instance.yaml
Owners: @FlagOpen/flagscale-reviewers

[Serve] flagscale serve engine supports multimodal LLaVA-OneVision and Qwen2.5-VL (#440)
  examples/llava_onevision/conf/config_llava_onevision.yaml
  examples/llava_onevision/conf/hostfile.txt
  examples/llava_onevision/conf/serve/serve_llava.yaml
  examples/qwen/conf/config_multiple_instance.yaml
  flagscale/runner/runner_serve.py
  flagscale/serve/run_fs_serve_vllm.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong, @cyber-pioneer

Add deepseek functional test tp2_pp2
  tests/functional_tests/test_cases/train/deepseek/conf/tp2_pp2.yaml
  tests/functional_tests/test_cases/train/deepseek/conf/train/tp2_pp2.yaml
  tests/functional_tests/test_cases/train/deepseek/results_gold/tp2_pp2.json
Owners: @FlagOpen/flagscale-reviewers

[flagrelease] Add config for supporting qwenvl-32-it (#441)
  examples/qwenvl_32_instruct/conf/config_qwenvl_32_instruct.yaml
  examples/qwenvl_32_instruct/conf/serve/qwenvl_32_instruct.yaml
Owners: @FlagOpen/flagscale-reviewers

Update deepseek functional test config
  tests/functional_tests/test_cases/train/deepseek/conf/tp2_pp2_ep2.yaml
  tests/functional_tests/test_cases/train/deepseek/conf/train/tp2_pp2_ep2.yaml
  tests/functional_tests/test_cases/train/deepseek/results_gold/tp2_pp2.json
  tests/functional_tests/test_cases/train/deepseek/results_gold/tp2_pp2_ep2.json
  tests/scripts/functional_tests/config.yml
Owners: @FlagOpen/flagscale-reviewers

Update deepseek test mtp config
  tests/functional_tests/test_cases/train/deepseek/conf/tp2_pp2_ep2.yaml
  tests/functional_tests/test_cases/train/deepseek/conf/train/tp2_pp2_ep2.yaml
Owners: @FlagOpen/flagscale-reviewers

添加qwq和distill的examples下文件
  .idea/.gitignore
  examples/deepSeek-r1-distill-qwen-32B/conf/config_deepSeek_r1_distill_qwen_32.yaml
  examples/deepSeek-r1-distill-qwen-32B/conf/serve/deepSeek_r1_distill_qwen_32.yaml
  examples/qwq-32/conf/qwq_32.yaml
  examples/qwq-32/conf/serve/qwq_32.yaml
Owners: @FlagOpen/flagscale-reviewers

test install sr
  docker/Dockerfile.cuda
  install/install-requirements.sh
Owners: @phoenixdong, @FlagOpen/flagscale-reviewers

test
  install/install-requirements.sh
Owners: @FlagOpen/flagscale-reviewers

test
  install/install-requirements.sh
Owners: @FlagOpen/flagscale-reviewers

test
  docker/Dockerfile.cuda
  install/install-requirements.sh
  requirements/serving/requirements.txt
Owners: @phoenixdong, @FlagOpen/flagscale-reviewers, @aoyulong

torch 2.6.0->2.5.1
  .github/workflows/all-tests.yml
  docker/Dockerfile.cuda
  docker/README.md
  install/install-requirements.sh
Owners: @FlagOpen/flagscale-reviewers, @phoenixdong

Update dockerfile.cuda
  docker/Dockerfile.cuda
Owners: @phoenixdong

Update torch 2.6.0->2.5.1 in requirements/requirements-common.txt
  requirements/requirements-common.txt
Owners: @aoyulong

Add Feishu robot
  tools/monitor/README.md
  tools/monitor/monitor.py
  tools/monitor/requirements.txt
Owners: @FlagOpen/flagscale-reviewers

update
  examples/deepSeek_r1_distill_qwen_32/conf/config_deepSeek_r1_distill_qwen_32.yaml
  examples/deepSeek_r1_distill_qwen_32/conf/serve/deepSeek_r1_distill_qwen_32.yaml
  examples/qwq_32/conf/congif_qwq_32.yaml
  examples/qwq_32/conf/serve/qwq_32.yaml
Owners: @FlagOpen/flagscale-reviewers

update
  examples/deepSeek_r1_distill_qwen_32/conf/serve/deepSeek_r1_distill_qwen_32.yaml
Owners: @FlagOpen/flagscale-reviewers

support tp conversion for deepseek ckpt
  tools/checkpoint/deepseek_v3/ckpt.py
Owners: @FlagOpen/flagscale-reviewers
