Repository FlagOpen/FlagScale, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FlagOpen/flagscale-reviewers, @zhaoyinglia, @ceci3, @aoyulong, @heavyrain-lzy, @caozhou1995, @phoenixdong, @cyber-pioneer

fix code
  tests/functional_tests/test_cases/serve/test_serve_base/conf/multiple_model.yaml
Owners: @FlagOpen/flagscale-reviewers

fix ci case
  flagscale/runner/runner_serve.py
Owners: @aoyulong

update args and ckpt for hg to mg ckpt convert
  tools/checkpoint/deepseek_v3/args.py
  tools/checkpoint/deepseek_v3/ckpt.py
Owners: @FlagOpen/flagscale-reviewers

update deepseek v3 config to 16B
  examples/deepseek_v3/conf/config_deepseek_v3.yaml
  examples/deepseek_v3/conf/train/train_deepseek_v3.yaml
Owners: @FlagOpen/flagscale-reviewers

support ckpt convert, from megatron to huggingface
  examples/deepseek_v3/conf/config_deepseek_v3.yaml
  examples/deepseek_v3/conf/train/train_deepseek_v3.yaml
  tools/checkpoint/deepseek_v3/args.py
  tools/checkpoint/deepseek_v3/ckpt.py
  tools/checkpoint/deepseek_v3/model.py
  tools/checkpoint/loader_mcore.py
  tools/checkpoint/loader_transformers.py
  tools/checkpoint/run.sh
  tools/checkpoint/saver_mcore.py
  tools/checkpoint/saver_transformers.py
Owners: @FlagOpen/flagscale-reviewers

make sure to use transformer engine
  flagscale/train/train_deepseek_v3.py
Owners: @FlagOpen/flagscale-reviewers

update
  tools/checkpoint/deepseek_v3/args.py
  tools/checkpoint/deepseek_v3/ckpt.py
  tools/checkpoint/loader_mcore.py
  tools/checkpoint/run.sh
Owners: @FlagOpen/flagscale-reviewers

[Serve] Fix CI test case (#388)
  flagscale/runner/runner_serve.py
  tests/functional_tests/test_cases/serve/test_serve_base/conf/multiple_model.yaml
Owners: @aoyulong, @FlagOpen/flagscale-reviewers

Add Llava_onevision feature testing and update requirements
  .github/workflows/all-tests.yml
  .gitignore
  requirements/train/megatron/requirements-cuda.txt
  tests/functional_tests/test_cases/train/llava_onevision/conf/tp2.yaml
  tests/functional_tests/test_cases/train/llava_onevision/conf/tp4.yaml
  tests/functional_tests/test_cases/train/llava_onevision/pretrain_dataset.yaml
  tests/functional_tests/test_cases/train/llava_onevision/results_gold/tp2.json
  tests/functional_tests/test_cases/train/llava_onevision/results_gold/tp4.json
  tests/scripts/functional_tests/test_all.sh
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

support ckpt converting for uneven pipeline parallel
  tools/checkpoint/loader_mcore.py
  tools/checkpoint/loader_transformers.py
  tools/checkpoint/run.sh
  tools/checkpoint/saver_mcore.py
Owners: @FlagOpen/flagscale-reviewers

Update train requirements
  requirements/train/megatron/requirements-cuda.txt
Owners: @aoyulong

[CI] Update requirements for llava_onevision training (#397)
  requirements/train/megatron/requirements-cuda.txt
Owners: @aoyulong

Add llava_onevision training test
  .github/workflows/all-tests.yml
  .gitignore
  tests/functional_tests/test_cases/train/llava_onevision/conf/tp2.yaml
  tests/functional_tests/test_cases/train/llava_onevision/conf/tp4.yaml
  tests/functional_tests/test_cases/train/llava_onevision/pretrain_dataset.yaml
  tests/functional_tests/test_cases/train/llava_onevision/results_gold/tp2.json
  tests/functional_tests/test_cases/train/llava_onevision/results_gold/tp4.json
  tests/scripts/functional_tests/test_all.sh
Owners: @FlagOpen/flagscale-reviewers

[CI] Add llava_onevision training test (#398)
  .github/workflows/all-tests.yml
  .gitignore
  tests/functional_tests/test_cases/train/llava_onevision/conf/tp2.yaml
  tests/functional_tests/test_cases/train/llava_onevision/conf/tp4.yaml
  tests/functional_tests/test_cases/train/llava_onevision/pretrain_dataset.yaml
  tests/functional_tests/test_cases/train/llava_onevision/results_gold/tp2.json
  tests/functional_tests/test_cases/train/llava_onevision/results_gold/tp4.json
  tests/scripts/functional_tests/test_all.sh
Owners: @FlagOpen/flagscale-reviewers

support for ckpt conversion of deepseek v3
  examples/deepseek_v3/conf/config_deepseek_v3.yaml
  examples/deepseek_v3/conf/train/train_deepseek_v3.yaml
  flagscale/train/train_deepseek_v3.py
  tools/checkpoint/deepseek_v3/args.py
  tools/checkpoint/deepseek_v3/ckpt.py
  tools/checkpoint/deepseek_v3/model.py
  tools/checkpoint/loader_mcore.py
  tools/checkpoint/loader_transformers.py
  tools/checkpoint/run.sh
  tools/checkpoint/saver_mcore.py
  tools/checkpoint/saver_transformers.py
Owners: @FlagOpen/flagscale-reviewers

[Tools] Support for ckpt conversion of deepseek v3 (#396)
  examples/deepseek_v3/conf/config_deepseek_v3.yaml
  examples/deepseek_v3/conf/train/train_deepseek_v3.yaml
  flagscale/train/train_deepseek_v3.py
  tools/checkpoint/deepseek_v3/args.py
  tools/checkpoint/deepseek_v3/ckpt.py
  tools/checkpoint/deepseek_v3/model.py
  tools/checkpoint/loader_mcore.py
  tools/checkpoint/loader_transformers.py
  tools/checkpoint/run.sh
  tools/checkpoint/saver_mcore.py
  tools/checkpoint/saver_transformers.py
Owners: @FlagOpen/flagscale-reviewers

update deepseek 16b config
  examples/deepseek_v3/conf/config_deepseek_v3_16b.yaml
  examples/deepseek_v3/conf/train/train_deepseek_v3_16b.yaml
Owners: @FlagOpen/flagscale-reviewers

Unified CI code style and file structure, updated gold results
  .github/workflows/all-tests.yml
  .github/workflows/functional-tests.yml
  docker/Dockerfile.cuda
  docker/Dockerfile.ssh
  tests/README.md
  tests/functional_tests/test_cases/serve/test_serve_base/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/test_serve_base/conf/serve/config.yaml
  tests/functional_tests/test_cases/serve/test_serve_base/test_call.py
  tests/functional_tests/test_cases/serve/test_serve_multiple_nodes/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/test_serve_multiple_nodes/conf/serve/config.yaml
  tests/functional_tests/test_cases/serve/test_serve_multiple_nodes/test_call.py
  tests/functional_tests/test_cases/serve/test_serve_vllm_model/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/test_serve_vllm_model/conf/serve/config.yaml
  tests/functional_tests/test_cases/serve/test_serve_vllm_model/test_call.py
  tests/functional_tests/test_cases/train/llava_onevision/conf/train/tp2.yaml
  tests/functional_tests/test_cases/train/llava_onevision/conf/train/tp4.yaml
  tests/functional_tests/test_cases/train/llava_onevision/results_gold/tp2.json
  tests/functional_tests/test_cases/train/llava_onevision/results_gold/tp4.json
  tests/functional_tests/test_utils/conftest.py
  tests/functional_tests/test_utils/test_equal.py
  tests/scripts/_tests_stop.sh
  tests/scripts/functional_tests/config.yml
  tests/scripts/functional_tests/parse_config.py
  tests/scripts/functional_tests/test_all.sh
  tests/scripts/functional_tests/test_model.sh
  tests/scripts/unit_tests/config.yml
Owners: @FlagOpen/flagscale-reviewers, @phoenixdong

Unified CI code style and file structure, updated gold results
  tests/functional_tests/test_cases/serve/base/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/base/conf/serve/multiple_model.yaml
  tests/functional_tests/test_cases/serve/base/test_call.py
  tests/functional_tests/test_cases/serve/multiple_nodes/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/multiple_nodes/conf/serve/config.yaml
  tests/functional_tests/test_cases/serve/multiple_nodes/test_call.py
  tests/functional_tests/test_cases/serve/vllm_model/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/vllm_model/conf/serve/config.yaml
  tests/functional_tests/test_cases/serve/vllm_model/test_call.py
  tests/scripts/_tests_log.sh
  tests/scripts/functional_tests/test_mission.sh
Owners: @FlagOpen/flagscale-reviewers

fix deepseek v3 ckpt conversion bugs
  examples/deepseek_v3/conf/config_deepseek_v3_16b.yaml
  examples/deepseek_v3/conf/train/train_deepseek_v3_16b.yaml
  tools/checkpoint/deepseek_v3/args.py
  tools/checkpoint/deepseek_v3/model.py
Owners: @FlagOpen/flagscale-reviewers

fix bugs
  tools/checkpoint/deepseek_v3/args.py
  tools/checkpoint/deepseek_v3/ckpt.py
Owners: @FlagOpen/flagscale-reviewers

Update the input format of set_environment in unit testing, update the implementation of testsub.sh.
  tests/scripts/unit_tests/config.yml
  tests/scripts/unit_tests/parse_config.py
  tests/scripts/unit_tests/test_subset.sh
Owners: @FlagOpen/flagscale-reviewers

Update the implementation of testsub.sh.
  tests/scripts/unit_tests/test_subset.sh
Owners: @FlagOpen/flagscale-reviewers

Update the details related to serving testing
  tests/functional_tests/test_cases/serve/base/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/multiple_nodes/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/multiple_nodes/conf/serve/config.yaml
  tests/functional_tests/test_cases/serve/vllm_model/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/vllm_model/conf/serve/config.yaml
  tests/scripts/_tests_stop.sh
  tests/scripts/functional_tests/test_mission.sh
Owners: @FlagOpen/flagscale-reviewers

Update the test_call.py in serving test
  tests/functional_tests/test_cases/serve/base/test_call.py
  tests/functional_tests/test_cases/serve/multiple_nodes/test_call.py
  tests/functional_tests/test_cases/serve/vllm_model/test_call.py
  tests/scripts/functional_tests/test_mission.sh
Owners: @FlagOpen/flagscale-reviewers

Update tests/scripts/unit_tests/test_subset.sh
  tests/scripts/unit_tests/test_subset.sh
Owners: @FlagOpen/flagscale-reviewers

Update tests/functional_tests/test_cases/serve and test_call.py
  tests/functional_tests/test_cases/serve/multiple_nodes/conf/serve/multiple_model.yaml
  tests/functional_tests/test_cases/serve/vllm_model/conf/serve/multiple_model.yaml
  tests/functional_tests/test_utils/test_call.py
Owners: @FlagOpen/flagscale-reviewers

Update tests/functional_tests/test_cases/serve
  tests/functional_tests/test_cases/serve/multiple_nodes/conf/multiple_model.yaml
Owners: @FlagOpen/flagscale-reviewers

tests/scripts/unit_tests/parse_config.py
  install/install-requirements.sh
  requirements/train/megatron/requirements-lint.txt
  tests/scripts/unit_tests/parse_config.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

DO NOTE MERGE
  flagscale/train/train.py
  megatron/megatron/training/theoretical_memory_usage.py
Owners: @FlagOpen/flagscale-reviewers, @heavyrain-lzy, @aoyulong, @zhaoyinglia

update
  flagscale/train/train.py
Owners: @FlagOpen/flagscale-reviewers

update .pre-commit-config.yaml
  .pre-commit-config.yaml
Owners: @FlagOpen/flagscale-reviewers

Update requirements
  requirements/requirements-lint.txt
Owners: @aoyulong

format
  tools/checkpoint/deepseek_v3/args.py
  tools/checkpoint/deepseek_v3/ckpt.py
  tools/checkpoint/deepseek_v3/model.py
Owners: @FlagOpen/flagscale-reviewers

Update tests/scripts/functional_tests/parse_config.py
  tests/scripts/functional_tests/parse_config.py
Owners: @FlagOpen/flagscale-reviewers

Update test_call.py
  tests/functional_tests/test_utils/test_call.py
  tests/scripts/functional_tests/test_mission.sh
Owners: @FlagOpen/flagscale-reviewers

Fix ckpt conversion bugs of deepseek v3 (#401)
  tools/checkpoint/deepseek_v3/args.py
  tools/checkpoint/deepseek_v3/ckpt.py
  tools/checkpoint/deepseek_v3/model.py
Owners: @FlagOpen/flagscale-reviewers

Add --env no_proxy=127.0.0.1,localhost in tests/functional_tests/test_utils/test_call.py
  tests/scripts/utils.sh
Owners: @FlagOpen/flagscale-reviewers

Use the latest Transformer Engine instead of the specified version
  install/install-requirements.sh
Owners: @FlagOpen/flagscale-reviewers

mla flops
  flagscale/train/train.py
  megatron/megatron/training/theoretical_memory_usage_zyl.py
Owners: @FlagOpen/flagscale-reviewers, @heavyrain-lzy, @aoyulong, @zhaoyinglia

.github/CODEOWNERS:

# Global reviewers for the entire repository
* @FlagOpen/flagscale-reviewers

vllm/ @zhaoyinglia @ceci3 @aoyulong
megatron/ @heavyrain-lzy @aoyulong @zhaoyinglia
megatron-energon/ @caozhou1995
requirements/ @aoyulong
docker/ @phoenixdong
hardware/ @caozhou1995

flagscale/auto_tuner @caozhou1995
flagscale/compress @ceci3
flagscale/inference @zhaoyinglia
flagscale/runner @aoyulong
flagscale/serve @cyber-pioneer
