Repository FlagOpen/FlagScale, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FlagOpen/flagscale-reviewers, @zhaoyinglia, @ceci3, @aoyulong, @heavyrain-lzy, @caozhou1995, @phoenixdong, @cyber-pioneer

debug max req
  examples/qwen/conf/config_multiple_instance.yaml
  examples/qwen/conf/serve/serve_multiple_qwen2.5_7b.yaml
  flagscale/runner/utils.py
  flagscale/serve/run_vllm.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong, @cyber-pioneer

fix code
  examples/qwen/conf/config_multiple_instance.yaml
Owners: @FlagOpen/flagscale-reviewers

add service check
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

polish code
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

fix code
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

polish code
  flagscale/runner/runner_serve.py
  flagscale/runner/utils.py
Owners: @aoyulong

polish code
  examples/minicpm_o_2.6/conf/serve/minicpm_o_2.6.yaml
Owners: @FlagOpen/flagscale-reviewers

change config yaml
  examples/deepseek/conf/serve/deepseek_v3.yaml
  examples/deepseek_r1/conf/serve/deepseek_r1.yaml
  examples/minicpm_o_2.6/conf/serve/minicpm_o_2.6.yaml
  examples/qwen/conf/config_multiple_instance.yaml
  examples/qwen/conf/serve/serve_multiple_instance.yaml
  examples/qwen/conf/serve/serve_qwen2.5_72b.yaml
  examples/qwen/conf/serve/serve_qwen2.5_7b.yaml
  flagscale/runner/runner_serve.py
  flagscale/serve/README.md
  flagscale/serve/run_inference_engine.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong, @cyber-pioneer

Update to flagscale:cuda12.4.1-cudnn9.5.0-python3.12-torch2.5.1-time2503271454
  .github/workflows/all-tests.yml
  changed_files.txt
Owners: @FlagOpen/flagscale-reviewers

Unified use of the test command as the entry point
  flagscale/cli.py
Owners: @FlagOpen/flagscale-reviewers

refactor serve config
  examples/qwen/conf/config_qwen2.5_7b.yaml
  examples/qwen/conf/serve/serve_multiple_instance.yaml
  examples/qwen/conf/serve/serve_qwen2.5_7b.yaml
  flagscale/runner/runner_serve.py
  flagscale/serve/run_fs_serve_vllm.py
  flagscale/serve/run_inference_engine.py
  flagscale/serve/run_native_vllm_serve.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong, @cyber-pioneer

Update tests/README.md
  tests/README.md
Owners: @FlagOpen/flagscale-reviewers

Add sentencepiece in requirements/requirements-common.txt
  requirements/requirements-common.txt
Owners: @aoyulong

fix code
  flagscale/runner/auto_tuner/generate.py
Owners: @aoyulong

fix code
  flagscale/runner/runner_serve.py
Owners: @aoyulong

Update to flagscale:cuda12.4.1-cudnn9.5.0-python3.12-torch2.5.1-time2503281422
  .github/workflows/all-tests.yml
Owners: @FlagOpen/flagscale-reviewers

fix code
  flagscale/runner/runner_serve.py
Owners: @aoyulong

fix code
  flagscale/runner/runner_serve.py
Owners: @aoyulong

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

fix code
  examples/qwen/conf/serve/serve_multiple_instance.yaml
  flagscale/runner/runner_serve.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

polish code
  examples/minicpm_o_2.6/conf/config_minicpm_o_2.6.yaml
  examples/minicpm_o_2.6/conf/serve/minicpm_o_2.6.yaml
  examples/qwen/conf/config_qwen2.5_72b_tp.yaml
  examples/qwen/conf/config_ssh_qwen2.5_7b.yaml
  examples/qwen/conf/serve/serve_qwen2.5_72b.yaml
Owners: @FlagOpen/flagscale-reviewers

polish code
  examples/qwen/conf/config_auto_tune_serve.yaml
Owners: @FlagOpen/flagscale-reviewers

polish code
  examples/qwen/conf/config_auto_tune_serve.yaml
  flagscale/runner/auto_tuner/generate.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

polish code
  flagscale/runner/auto_tuner/generate.py
Owners: @aoyulong

Add Feishu robot, abnormal monitoring method waiting to be integrated
  tools/monitor/README.md
  tools/monitor/config-email.yaml
  tools/monitor/config-feishu.yaml
  tools/monitor/monitor.py
Owners: @FlagOpen/flagscale-reviewers

polish code
  examples/qwen/conf/config_qwen2.5_7b.yaml
  flagscale/runner/auto_tuner/generate.py
  flagscale/runner/runner_serve.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

polish code
  flagscale/runner/auto_tuner/generate.py
  flagscale/runner/runner_serve.py
Owners: @aoyulong

polish code
  flagscale/runner/runner_serve.py
Owners: @aoyulong

fix code
  examples/deepseek/conf/config_auto_deepseek_v3.yaml
  examples/deepseek/conf/config_deepseek_v3.yaml
  examples/deepseek/conf/serve/deepseek_v3.yaml
  examples/deepseek_r1/conf/config_deepseek_r1.yaml
  examples/deepseek_r1/conf/serve/deepseek_r1.yaml
Owners: @FlagOpen/flagscale-reviewers

remove unused code
  flagscale/serve/run_native_vllm_serve.py
Owners: @cyber-pioneer

Update requirements/requirements-base.txt
  install/install-requirements.sh
  requirements/requirements-base.txt
  requirements/requirements-dev.txt
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

polish code
  flagscale/runner/runner_serve.py
Owners: @aoyulong

polish code
  flagscale/runner/auto_tuner/tuner.py
Owners: @aoyulong

fix code
  flagscale/runner/runner_serve.py
Owners: @aoyulong

fix code
  examples/qwen/conf/serve/serve_multiple_instance.yaml
  flagscale/runner/runner_serve.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

fix code
  flagscale/runner/auto_tuner/tuner.py
Owners: @aoyulong

fix code
  flagscale/runner/runner_serve.py
Owners: @aoyulong

fix code
  flagscale/runner/auto_tuner/tuner.py
Owners: @aoyulong

fix code
  flagscale/runner/runner_serve.py
Owners: @aoyulong

.github/CODEOWNERS:

# Global reviewers for the entire repository
* @FlagOpen/flagscale-reviewers

vllm/ @zhaoyinglia @ceci3 @aoyulong
megatron/ @heavyrain-lzy @aoyulong @zhaoyinglia
megatron-energon/ @caozhou1995
requirements/ @aoyulong
docker/ @phoenixdong
hardware/ @caozhou1995

flagscale/auto_tuner @caozhou1995
flagscale/compress @ceci3
flagscale/inference @zhaoyinglia
flagscale/runner @aoyulong
flagscale/serve @cyber-pioneer
