Repository FlagOpen/FlagScale, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FlagOpen/flagscale-reviewers, @zhaoyinglia, @ceci3, @aoyulong, @heavyrain-lzy, @caozhou1995, @phoenixdong, @cyber-pioneer

.github/CODEOWNERS:

# Global reviewers for the entire repository
* @FlagOpen/flagscale-reviewers

vllm/ @zhaoyinglia @ceci3 @aoyulong
megatron/ @heavyrain-lzy @aoyulong @zhaoyinglia
megatron-energon/ @caozhou1995
requirements/ @aoyulong
docker/ @phoenixdong
hardware/ @caozhou1995

flagscale/auto_tuner @caozhou1995
flagscale/compress @ceci3
flagscale/inference @zhaoyinglia
flagscale/runner @aoyulong
flagscale/serve @cyber-pioneer

Use environment variables to record image names.
  .github/workflows/all-tests.yml
  .github/workflows/coverage-tests.yml
  .github/workflows/functional-tests.yml
  .github/workflows/report-clean.yml
  .github/workflows/unit-tests.yml
  tests/functional_tests/test_cases/hetero_train/aquila/conf/dp2dp4_shared_embedding.yaml
  tests/functional_tests/test_cases/hetero_train/aquila/conf/tp2dp1pp1_tp2dp2pp1_tp1dp2pp1.yaml
  tests/functional_tests/test_cases/hetero_train/aquila/conf/tp2pp1_tp4pp1_tp2pp1.yaml
  tests/functional_tests/test_cases/serve/test_serve_base/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/test_serve_multiple_nodes/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/test_serve_vllm_model/conf/multiple_model.yaml
  tests/functional_tests/test_cases/train/aquila/conf/tp2_pp2.yaml
  tests/functional_tests/test_cases/train/aquila/conf/tp4_pp2.yaml
  tests/functional_tests/test_cases/train/mixtral/conf/tp2_pp1_ep2.yaml
  tests/functional_tests/test_cases/train/mixtral/conf/tp4_pp1_ep2.yaml
  tests/scripts/unit_tests/config.yml
Owners: @FlagOpen/flagscale-reviewers

Use environment variables to record image names.
  tests/scripts/unit_tests/config.yml
Owners: @FlagOpen/flagscale-reviewers

[Serve] Fix the case of deepseek r1 (#383)
  examples/deepseek_r1/conf/config_deepseek_r1.yaml
  examples/deepseek_r1/conf/serve/deepseek_r1.yaml
  flagscale/runner/runner_serve.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

[CherryPick][Serve] Fix the case of deepseek r1 (#383) (#384)
  examples/deepseek_r1/conf/config_deepseek_r1.yaml
  examples/deepseek_r1/conf/serve/deepseek_r1.yaml
  flagscale/runner/runner_serve.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

fix import error
  flagscale/runner/auto_tuner/memory_model.py
  run.py
Owners: @aoyulong, @FlagOpen/flagscale-reviewers

fix some error
  flagscale/runner/auto_tuner/memory_model.py
  tests/functional_tests/test_cases/hetero_train/aquila/conf/dp2dp4_shared_embedding.yaml
  tests/functional_tests/test_cases/hetero_train/aquila/conf/tp2dp1pp1_tp2dp2pp1_tp1dp2pp1.yaml
  tests/functional_tests/test_cases/hetero_train/aquila/conf/tp2pp1_tp4pp1_tp2pp1.yaml
  tests/functional_tests/test_cases/serve/test_serve_base/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/test_serve_multiple_nodes/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/test_serve_vllm_model/conf/multiple_model.yaml
  tests/functional_tests/test_cases/train/aquila/conf/tp2_pp2.yaml
  tests/functional_tests/test_cases/train/aquila/conf/tp4_pp2.yaml
  tests/functional_tests/test_cases/train/mixtral/conf/tp2_pp1_ep2.yaml
  tests/functional_tests/test_cases/train/mixtral/conf/tp4_pp1_ep2.yaml
Owners: @aoyulong, @FlagOpen/flagscale-reviewers

Update set-env
  .github/workflows/all-tests.yml
Owners: @FlagOpen/flagscale-reviewers

Update set-env
  .github/workflows/all-tests.yml
Owners: @FlagOpen/flagscale-reviewers

Update set-env
  .github/workflows/all-tests.yml
Owners: @FlagOpen/flagscale-reviewers

Update set-env
  .github/workflows/all-tests.yml
Owners: @FlagOpen/flagscale-reviewers

Update set-env
  .github/workflows/all-tests.yml
Owners: @FlagOpen/flagscale-reviewers

Update set-env
  .github/workflows/all-tests.yml
Owners: @FlagOpen/flagscale-reviewers

for test
  .github/workflows/coverage-tests.yml
  .github/workflows/functional-tests.yml
  .github/workflows/report-clean.yml
  .github/workflows/unit-tests.yml
Owners: @FlagOpen/flagscale-reviewers

for test
  .github/workflows/all-tests.yml
  .github/workflows/coverage-tests.yml
  .github/workflows/functional-tests.yml
  .github/workflows/report-clean.yml
  .github/workflows/unit-tests.yml
Owners: @FlagOpen/flagscale-reviewers

for test
  .github/workflows/all-tests.yml
Owners: @FlagOpen/flagscale-reviewers

for test
  .github/workflows/functional-tests.yml
Owners: @FlagOpen/flagscale-reviewers

for test
  .github/workflows/functional-tests.yml
  requirements/requirements-base.txt
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

for test
  .github/workflows/all-tests.yml
  requirements/requirements-dev.txt
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

for test
  flagscale/runner/runner_serve.py
Owners: @aoyulong

a preliminary implementation of single-process simulator, which still has problems
  flagscale/runner/auto_tuner/simulator/README.md
  flagscale/runner/auto_tuner/simulator/analylize_pipeline_time.py
  flagscale/runner/auto_tuner/simulator/config_gen.py
  flagscale/runner/auto_tuner/simulator/custom_backend/README.md
  flagscale/runner/auto_tuner/simulator/custom_backend/include/dummy.hpp
  flagscale/runner/auto_tuner/simulator/custom_backend/setup.py
  flagscale/runner/auto_tuner/simulator/custom_backend/src/dummy.cpp
  flagscale/train/arguments.py
  flagscale/train/hetero/parallel_context.py
  flagscale/train/train.py
  flagscale/train/train_gpt.py
  megatron/megatron/training/arguments.py
Owners: @aoyulong, @FlagOpen/flagscale-reviewers, @heavyrain-lzy, @zhaoyinglia

[Core] Fix import error (#386)
  flagscale/runner/auto_tuner/memory_model.py
  run.py
Owners: @aoyulong, @FlagOpen/flagscale-reviewers

Update some implementations and fix some errors
  .github/workflows/all-tests.yml
  .github/workflows/coverage-tests.yml
  .github/workflows/functional-tests.yml
  .github/workflows/report-clean.yml
  .github/workflows/unit-tests.yml
  requirements/requirements-base.txt
  requirements/requirements-dev.txt
  tests/functional_tests/test_cases/serve/test_serve_base/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/test_serve_multiple_nodes/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/test_serve_vllm_model/conf/multiple_model.yaml
  tests/scripts/unit_tests/config.yml
  tests/scripts/unit_tests/test_subset.sh
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

[CI] Update some implementations and fix some errors (#390)
  .github/workflows/all-tests.yml
  .github/workflows/coverage-tests.yml
  .github/workflows/functional-tests.yml
  .github/workflows/report-clean.yml
  .github/workflows/unit-tests.yml
  requirements/requirements-base.txt
  requirements/requirements-dev.txt
  tests/functional_tests/test_cases/serve/test_serve_base/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/test_serve_multiple_nodes/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/test_serve_vllm_model/conf/multiple_model.yaml
  tests/scripts/unit_tests/config.yml
  tests/scripts/unit_tests/test_subset.sh
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

[Fix]fix CFG for input is negative_text
  flagscale/inference/core/preprocess.py
Owners: @zhaoyinglia

Update some installation details
  docker/Dockerfile.cuda
  install/install-requirements.sh
  requirements/serving/requirements.txt
Owners: @phoenixdong, @FlagOpen/flagscale-reviewers, @aoyulong

Update some installation details
  docker/Dockerfile.cuda
  requirements/train/megatron/requirements-cuda.txt
Owners: @phoenixdong, @aoyulong

[Fix] Fix CFG when input includes negative_text (#391)
  flagscale/inference/core/preprocess.py
Owners: @zhaoyinglia

Update some installation details
  .github/workflows/all-tests.yml
  docker/Dockerfile.cuda
Owners: @FlagOpen/flagscale-reviewers, @phoenixdong

Update some installation details
  requirements/requirements-base.txt
Owners: @aoyulong

[CI] Update some installation details (#392)
  .github/workflows/all-tests.yml
  docker/Dockerfile.cuda
  install/install-requirements.sh
  requirements/requirements-base.txt
  requirements/serving/requirements.txt
  requirements/train/megatron/requirements-cuda.txt
Owners: @FlagOpen/flagscale-reviewers, @phoenixdong, @aoyulong

Update Docker images used in the workflow
  .github/workflows/all-tests.yml
  .github/workflows/coverage-tests.yml
  .github/workflows/functional-tests.yml
  .github/workflows/unit-tests.yml
Owners: @FlagOpen/flagscale-reviewers

[CI] Update Docker images used in the workflow (#393)
  .github/workflows/all-tests.yml
  .github/workflows/coverage-tests.yml
  .github/workflows/functional-tests.yml
  .github/workflows/unit-tests.yml
Owners: @FlagOpen/flagscale-reviewers

fix code
  tests/functional_tests/test_cases/serve/test_serve_base/conf/multiple_model.yaml
Owners: @FlagOpen/flagscale-reviewers

fix ci case
  flagscale/runner/runner_serve.py
Owners: @aoyulong

fix ci
  flagscale/runner/runner_serve.py
Owners: @aoyulong

Update functional testing standard results
  tests/functional_tests/test_cases/train/mixtral/results_gold/tp2_pp1_ep2.json
  tests/functional_tests/test_cases/train/mixtral/results_gold/tp4_pp1_ep2.json
Owners: @FlagOpen/flagscale-reviewers

Delete invalid tests
  .github/workflows/all-tests.yml
Owners: @FlagOpen/flagscale-reviewers

support hetero ep
  examples/aquila/conf/train/demo.yaml
  examples/deepseek_v3/conf/train/train_deepseek_v3_hetero.yaml
  flagscale/train/arguments.py
  flagscale/train/hetero/p2p_communication.py
  flagscale/train/hetero/parallel_context.py
  flagscale/train/train.py
  megatron/megatron/core/distributed/finalize_model_grads.py
  megatron/megatron/core/optimizer/__init__.py
  megatron/megatron/core/transformer/moe/experts.py
  megatron/megatron/core/transformer/moe/moe_utils.py
  megatron/megatron/training/arguments.py
  megatron/megatron/training/utils.py
Owners: @FlagOpen/flagscale-reviewers, @heavyrain-lzy, @aoyulong, @zhaoyinglia

[CI] Update functional testing gold results (#394)
  .github/workflows/all-tests.yml
  tests/functional_tests/test_cases/train/mixtral/results_gold/tp2_pp1_ep2.json
  tests/functional_tests/test_cases/train/mixtral/results_gold/tp4_pp1_ep2.json
Owners: @FlagOpen/flagscale-reviewers

fix ci
  flagscale/runner/runner_serve.py
Owners: @aoyulong
