Repository FlagOpen/FlagScale, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FlagOpen/flagscale-reviewers, @zhaoyinglia, @ceci3, @aoyulong, @heavyrain-lzy, @caozhou1995, @phoenixdong, @cyber-pioneer

.github/CODEOWNERS:

# Global reviewers for the entire repository
* @FlagOpen/flagscale-reviewers

vllm/ @zhaoyinglia @ceci3 @aoyulong
megatron/ @heavyrain-lzy @aoyulong @zhaoyinglia
megatron-energon/ @caozhou1995
requirements/ @aoyulong
docker/ @phoenixdong
hardware/ @caozhou1995

flagscale/auto_tuner @caozhou1995
flagscale/compress @ceci3
flagscale/inference @zhaoyinglia
flagscale/runner @aoyulong
flagscale/serve @cyber-pioneer

Update details
  docker/Dockerfile.cuda
Owners: @phoenixdong

Update details
  docker/Dockerfile.cuda
Owners: @phoenixdong

[BugFix] Fix patch bug (#438)
  tools/patch/patch.py
Owners: @FlagOpen/flagscale-reviewers

Bi150 deepseek r1 int4 vllm073 patch (#439)
  hardware/bi_V150/758e33e0/758e33e0.patch.encrypted
Owners: @caozhou1995

Adding deepseek
  tests/functional_tests/test_cases/train/deepseek/conf/tp2_pp2.yaml
  tests/functional_tests/test_cases/train/deepseek/conf/train/tp2_pp2.yaml
  tests/functional_tests/test_cases/train/deepseek/results_gold/tp2_pp2.json
  tests/scripts/functional_tests/config.yml
  tests/scripts/functional_tests/test_all.sh
Owners: @FlagOpen/flagscale-reviewers

add qwenvl-32-it
  examples/qwenvl_32_instruct/conf/config_qwenvl_32_instruct.yaml
  examples/qwenvl_32_instruct/conf/serve/qwenvl_32_instruct.yaml
Owners: @FlagOpen/flagscale-reviewers

fix code
  flagscale/runner/runner_serve.py
Owners: @aoyulong

fix code
  examples/qwen/conf/config_multiple_instance.yaml
Owners: @FlagOpen/flagscale-reviewers

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

debug
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

debug
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

fix code
  examples/qwen/conf/serve/serve_multiple_instance.yaml
  flagscale/serve/run_fs_serve_vllm.py
Owners: @FlagOpen/flagscale-reviewers, @cyber-pioneer

polish code
  examples/qwen/conf/serve/serve_qwen2.5_vl.yaml
  flagscale/serve/run_fs_serve_vllm.py
Owners: @FlagOpen/flagscale-reviewers, @cyber-pioneer

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

fix code
  examples/qwen/conf/config_multiple_instance.yaml
Owners: @FlagOpen/flagscale-reviewers

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

debug
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

fix code
  examples/llava_onevision/conf/config_llava_serve.yaml
  examples/llava_onevision/conf/hostfile.txt
  examples/llava_onevision/conf/serve/serve_llava.yaml
Owners: @FlagOpen/flagscale-reviewers

debug
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

fix code
  examples/qwen/conf/serve/serve_qwen2.5_vl.yaml
  flagscale/serve/run_fs_serve_vllm.py
Owners: @FlagOpen/flagscale-reviewers, @cyber-pioneer

dev code
  examples/qwen/conf/config_qwen2.5_vl.yaml
  examples/qwen/conf/serve/serve_qwen2.5_vl.yaml
Owners: @FlagOpen/flagscale-reviewers

fix code
  examples/deepseek_r1/conf/hostfile.txt
Owners: @FlagOpen/flagscale-reviewers

fix code
  examples/llava_onevision/conf/config_serve_llava.yaml
Owners: @FlagOpen/flagscale-reviewers

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

fix code
  examples/qwen/conf/config_multiple_instance.yaml
Owners: @FlagOpen/flagscale-reviewers

debug
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

fix code
  examples/qwen/conf/serve/serve_multiple_instance.yaml
Owners: @FlagOpen/flagscale-reviewers

fix code
  examples/qwen/conf/config_qwen2.5_vl.yaml
Owners: @FlagOpen/flagscale-reviewers

fix code
  examples/qwen/conf/serve/serve_qwen2.5_vl.yaml
Owners: @FlagOpen/flagscale-reviewers

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

fix code
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer

debug
  flagscale/serve/run_fs_serve_vllm.py
Owners: @cyber-pioneer
