Repository FlagOpen/FlagScale, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FlagOpen/flagscale-reviewers, @zhaoyinglia, @ceci3, @aoyulong, @heavyrain-lzy, @caozhou1995, @phoenixdong, @cyber-pioneer

[metax] add vllm v0.7.2 patch and support deepseek-v3/r1 (#370)
  hardware/metax_C500/57637057/57637057.patch
Owners: @caozhou1995

Fix spell error.
  install/install-requirements.sh
Owners: @FlagOpen/flagscale-reviewers

Update the installation method of flash attention
  install/install-requirements.sh
Owners: @FlagOpen/flagscale-reviewers

Update the installation method of flash attention
  install/install-requirements.sh
Owners: @FlagOpen/flagscale-reviewers

Add python3-distutils
  docker/Dockerfile.cuda
Owners: @phoenixdong

format
  flagscale/train/models/deepseek_v3/deepseek_v3_model.py
  flagscale/train/models/deepseek_v3/multi_token_predictor.py
  flagscale/train/train_deepseek_v3.py
  megatron/megatron/core/distributed/finalize_model_grads.py
  tools/checkpoint/deepseek_v3/args.py
  tools/checkpoint/deepseek_v3/ckpt.py
Owners: @FlagOpen/flagscale-reviewers, @heavyrain-lzy, @aoyulong, @zhaoyinglia

Support MTP layer spec, and both vertical and horizontal parameter sharing (#351)
  examples/deepseek_v3/conf/train/train_deepseek_v3.yaml
  flagscale/train/models/deepseek_v3/deepseek_v3_model.py
  flagscale/train/models/deepseek_v3/multi_token_predictor.py
  flagscale/train/train_deepseek_v3.py
  megatron/megatron/core/distributed/finalize_model_grads.py
  tools/checkpoint/deepseek_v3/args.py
  tools/checkpoint/deepseek_v3/ckpt.py
Owners: @FlagOpen/flagscale-reviewers, @heavyrain-lzy, @aoyulong, @zhaoyinglia

add deepseek_r1 serve config
  README.md
  examples/deepseek_r1/config_deepseek_r1.yaml
  examples/deepseek_r1/serve/deepseek_r1.yaml
Owners: @FlagOpen/flagscale-reviewers

[Core] Fix ucc comm-backend when using `FlagCX` backend (#371)
  megatron/megatron/core/model_parallel_config.py
  megatron/megatron/core/parallel_state.py
  megatron/megatron/training/arguments.py
Owners: @heavyrain-lzy, @aoyulong, @zhaoyinglia

[Serve] Add deepseek_r1 serve config (#372)
  README.md
  examples/deepseek_r1/config_deepseek_r1.yaml
  examples/deepseek_r1/serve/deepseek_r1.yaml
Owners: @FlagOpen/flagscale-reviewers

[Core] Move Autotuner to Runner (#361)
  flagscale/auto_tuner/__init__.py
  flagscale/auto_tuner/prune/__init__.py
  flagscale/auto_tuner/record/__init__.py
  flagscale/auto_tuner/search/__init__.py
  flagscale/compress/adapter.py
  flagscale/runner/auto_tuner/__init__.py
  flagscale/runner/auto_tuner/generate.py
  flagscale/runner/auto_tuner/memory_model.py
  flagscale/runner/auto_tuner/platform.py
  flagscale/runner/auto_tuner/prune/history.py
  flagscale/runner/auto_tuner/prune/memory.py
  flagscale/runner/auto_tuner/prune/pruner.py
  flagscale/runner/auto_tuner/record/recorder.py
  flagscale/runner/auto_tuner/search/algorithm.py
  flagscale/runner/auto_tuner/search/searcher.py
  flagscale/runner/auto_tuner/tuner.py
  flagscale/runner/auto_tuner/utils.py
  flagscale/runner/runner_compress.py
  flagscale/runner/runner_inference.py
  flagscale/runner/runner_serve.py
  flagscale/runner/runner_train.py
  flagscale/runner/utils.py
  run.py
  tests/unit_tests/runner/test_parse_hostfile.py
Owners: @caozhou1995, @ceci3, @aoyulong, @FlagOpen/flagscale-reviewers

[CI] Update to run tests locally (#360)
  .gitignore
  docker/Dockerfile.cuda
  install/install-requirements.sh
  requirements/requirements-base.txt
  requirements/requirements-common.txt
  requirements/train/megatron/requirements-cuda.txt
  tests/functional_tests/test_cases/hetero_train/aquila/conf/dp2dp4_shared_embedding.yaml
  tests/functional_tests/test_cases/hetero_train/aquila/conf/tp2dp1pp1_tp2dp2pp1_tp1dp2pp1.yaml
  tests/functional_tests/test_cases/hetero_train/aquila/conf/tp2pp1_tp4pp1_tp2pp1.yaml
  tests/functional_tests/test_cases/hetero_train/aquila/results_gold/dp2dp4_shared_embedding.json
  tests/functional_tests/test_cases/hetero_train/aquila/results_gold/tp2dp1pp1_tp2dp2pp1_tp1dp2pp1.json
  tests/functional_tests/test_cases/hetero_train/aquila/results_gold/tp2pp1_tp4pp1_tp2pp1.json
  tests/functional_tests/test_cases/serve/test_serve_base/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/test_serve_multiple_nodes/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/test_serve_vllm_model/conf/multiple_model.yaml
  tests/functional_tests/test_cases/train/aquila/conf/tp2_pp2.yaml
  tests/functional_tests/test_cases/train/aquila/conf/tp4_pp2.yaml
  tests/functional_tests/test_cases/train/mixtral/conf/tp2_pp1_ep2.yaml
  tests/functional_tests/test_cases/train/mixtral/conf/tp4_pp1_ep2.yaml
  tests/functional_tests/test_cases/train/mixtral/results_gold/tp2_pp1_ep2.json
  tests/functional_tests/test_cases/train/mixtral/results_gold/tp4_pp1_ep2.json
  tests/scripts/functional_tests/test_all.sh
  tests/scripts/functional_tests/test_model.sh
  tests/scripts/unit_tests/config.yml
  tests/scripts/unit_tests/test_subset.sh
  tests/unit_tests/compressor/test_config.yaml
Owners: @FlagOpen/flagscale-reviewers, @phoenixdong, @aoyulong

Update to v0.6.5
  README.md
Owners: @FlagOpen/flagscale-reviewers

Update to run tests online
  .github/workflows/coverage-tests.yml
  .github/workflows/functional-tests.yml
  .github/workflows/report-clean.yml
  .github/workflows/unit-tests.yml
  docker/Dockerfile.cuda
Owners: @FlagOpen/flagscale-reviewers, @phoenixdong

[CI] Update to run tests online (#374)
  .github/workflows/coverage-tests.yml
  .github/workflows/functional-tests.yml
  .github/workflows/report-clean.yml
  .github/workflows/unit-tests.yml
  docker/Dockerfile.cuda
Owners: @FlagOpen/flagscale-reviewers, @phoenixdong

move metax patch
  examples/deepseek_r1/config_deepseek_r1.yaml
  hardware/metax_C550/57637057/57637057.patch
Owners: @FlagOpen/flagscale-reviewers, @caozhou1995

[Patch] Move metax patch (#375)
  examples/deepseek_r1/config_deepseek_r1.yaml
  hardware/metax_C550/57637057/57637057.patch
Owners: @FlagOpen/flagscale-reviewers, @caozhou1995

Update README.md
  README.md
Owners: @FlagOpen/flagscale-reviewers

Update to v0.6.5 (#373)
  README.md
Owners: @FlagOpen/flagscale-reviewers

fix Flagscale error
  README.md
Owners: @FlagOpen/flagscale-reviewers

[Misc] Fix a typo (#376)
  README.md
Owners: @FlagOpen/flagscale-reviewers

[Misc] Fix a typo (#376)
  README.md
Owners: @FlagOpen/flagscale-reviewers

[CherryPick][Misc] Fix a typo (#376) (#377)
  README.md
Owners: @FlagOpen/flagscale-reviewers

Fix some error
  .github/workflows/coverage-tests.yml
  .github/workflows/functional-tests.yml
  .github/workflows/report-clean.yml
  .github/workflows/unit-tests.yml
  install/install-requirements.sh
Owners: @FlagOpen/flagscale-reviewers

Fix some error
  .github/workflows/coverage-tests.yml
  .github/workflows/functional-tests.yml
  .github/workflows/unit-tests.yml
Owners: @FlagOpen/flagscale-reviewers

Fix some error
  tests/scripts/unit_tests/test_subset.sh
Owners: @FlagOpen/flagscale-reviewers

Fix some error
  .github/workflows/unit-tests.yml
Owners: @FlagOpen/flagscale-reviewers

Fix some error
  .github/workflows/unit-tests.yml
  tests/scripts/unit_tests/config.yml
Owners: @FlagOpen/flagscale-reviewers

Fix some error
  tests/scripts/unit_tests/config.yml
  tests/scripts/unit_tests/test_subset.sh
Owners: @FlagOpen/flagscale-reviewers

Fix some error
  .github/workflows/coverage-tests.yml
  .github/workflows/functional-tests.yml
  tests/functional_tests/test_cases/hetero_train/aquila/conf/dp2dp4_shared_embedding.yaml
  tests/functional_tests/test_cases/hetero_train/aquila/conf/tp2dp1pp1_tp2dp2pp1_tp1dp2pp1.yaml
  tests/functional_tests/test_cases/hetero_train/aquila/conf/tp2pp1_tp4pp1_tp2pp1.yaml
  tests/functional_tests/test_cases/serve/test_serve_base/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/test_serve_multiple_nodes/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/test_serve_vllm_model/conf/multiple_model.yaml
  tests/functional_tests/test_cases/train/aquila/conf/tp2_pp2.yaml
  tests/functional_tests/test_cases/train/aquila/conf/tp4_pp2.yaml
  tests/functional_tests/test_cases/train/mixtral/conf/tp2_pp1_ep2.yaml
  tests/functional_tests/test_cases/train/mixtral/conf/tp4_pp1_ep2.yaml
  tests/scripts/unit_tests/config.yml
Owners: @FlagOpen/flagscale-reviewers

Fix some error
  .github/workflows/functional-tests.yml
  .github/workflows/unit-tests.yml
Owners: @FlagOpen/flagscale-reviewers

Fix some error
  tests/functional_tests/test_cases/hetero_train/aquila/conf/dp2dp4_shared_embedding.yaml
  tests/functional_tests/test_cases/hetero_train/aquila/conf/tp2dp1pp1_tp2dp2pp1_tp1dp2pp1.yaml
  tests/functional_tests/test_cases/hetero_train/aquila/conf/tp2pp1_tp4pp1_tp2pp1.yaml
  tests/functional_tests/test_cases/serve/test_serve_base/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/test_serve_multiple_nodes/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/test_serve_vllm_model/conf/multiple_model.yaml
  tests/functional_tests/test_cases/train/aquila/conf/tp2_pp2.yaml
  tests/functional_tests/test_cases/train/aquila/conf/tp4_pp2.yaml
  tests/functional_tests/test_cases/train/mixtral/conf/tp2_pp1_ep2.yaml
  tests/functional_tests/test_cases/train/mixtral/conf/tp4_pp1_ep2.yaml
  tests/scripts/unit_tests/config.yml
Owners: @FlagOpen/flagscale-reviewers

set requirements and improve ease of use
  flagscale/cli.py
  setup.py
Owners: @FlagOpen/flagscale-reviewers

[CLI] Add requirements and improve ease of use (#381)
  flagscale/cli.py
  setup.py
Owners: @FlagOpen/flagscale-reviewers

[CLI] Add requirements and improve ease of use (#381)
  flagscale/cli.py
  setup.py
Owners: @FlagOpen/flagscale-reviewers

[CherryPick][CLI] Add requirements and improve ease of use (#381) (#382)
  flagscale/cli.py
  setup.py
Owners: @FlagOpen/flagscale-reviewers

fix example
  examples/deepseek_r1/conf/config_deepseek_r1.yaml
  examples/deepseek_r1/conf/serve/deepseek_r1.yaml
  flagscale/runner/runner_serve.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

polish code
  flagscale/runner/runner_serve.py
Owners: @aoyulong

[Serve] Fix the case of deepseek r1 (#383)
  examples/deepseek_r1/conf/config_deepseek_r1.yaml
  examples/deepseek_r1/conf/serve/deepseek_r1.yaml
  flagscale/runner/runner_serve.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

update config
  examples/deepseek_v3/conf/config_deepseek_v3_16b.yaml
  examples/deepseek_v3/conf/train/train_deepseek_v3_16b.yaml
Owners: @FlagOpen/flagscale-reviewers

.github/CODEOWNERS:

# Global reviewers for the entire repository
* @FlagOpen/flagscale-reviewers

vllm/ @zhaoyinglia @ceci3 @aoyulong
megatron/ @heavyrain-lzy @aoyulong @zhaoyinglia
megatron-energon/ @caozhou1995
requirements/ @aoyulong
docker/ @phoenixdong
hardware/ @caozhou1995

flagscale/auto_tuner @caozhou1995
flagscale/compress @ceci3
flagscale/inference @zhaoyinglia
flagscale/runner @aoyulong
flagscale/serve @cyber-pioneer
