Repository FlagOpen/FlagScale, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FlagOpen/flagscale-reviewers, @zhaoyinglia, @ceci3, @aoyulong, @heavyrain-lzy, @caozhou1995, @phoenixdong, @cyber-pioneer

fix code
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

fix code
  flagscale/runner/runner_serve.py
Owners: @aoyulong

debug
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

fix code
  flagscale/runner/runner_serve.py
  flagscale/serve/run_vllm.py
Owners: @aoyulong, @cyber-pioneer

polish code
  flagscale/runner/runner_serve.py
Owners: @aoyulong

polish code
  flagscale/runner/runner_serve.py
Owners: @aoyulong

fix code
  flagscale/runner/runner_serve.py
  flagscale/serve/run_fs_serve_vllm.py
Owners: @aoyulong, @cyber-pioneer

fix code
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

polish code
  examples/qwen/conf/config_multiple_instance.yaml
  examples/qwen/conf/serve/serve_multiple_qwen2.5_7b.yaml
  flagscale/runner/runner_serve.py
  flagscale/serve/run_vllm_model.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong, @cyber-pioneer

fix code
  flagscale/runner/auto_tuner/generate.py
  flagscale/runner/runner_serve.py
Owners: @aoyulong

polish code
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

polish code
  README.md
  examples/deepseek/conf/serve/deepseek_v3.yaml
  examples/deepseek_r1/conf/serve/deepseek_r1.yaml
  examples/qwen/conf/serve/serve_multiple_qwen2.5_7b.yaml
Owners: @FlagOpen/flagscale-reviewers

polish code
  README.md
Owners: @FlagOpen/flagscale-reviewers

support chat v1
  examples/qwen/conf/config_multiple_instance.yaml
  flagscale/runner/runner_serve.py
  flagscale/serve/run_vllm.py
  flagscale/serve/run_vllm_dev.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong, @cyber-pioneer

debug
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

fix code
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

fix bug
  examples/qwen/conf/serve/serve_multiple_qwen2.5_7b.yaml
  flagscale/serve/run_vllm.py
Owners: @FlagOpen/flagscale-reviewers, @cyber-pioneer

fix code
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

polish code
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

polish resource config
  examples/qwen/conf/serve/serve_multiple_instance.yaml
  flagscale/runner/auto_tuner/generate.py
  flagscale/serve/run_native_vllm_serve.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong, @cyber-pioneer

polish code4
  examples/qwen/conf/serve/serve_multiple_qwen2.5_7b.yaml
  flagscale/serve/run_vllm.py
Owners: @FlagOpen/flagscale-reviewers, @cyber-pioneer

fix code
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

fix code
  flagscale/serve/run_serve_engine.py
  flagscale/serve/utils.py
Owners: @cyber-pioneer

debug
  examples/qwen/conf/config_multiple_instance.yaml
  examples/qwen/conf/serve/serve_multiple_instance.yaml
  flagscale/runner/runner_serve.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

fix code
  examples/qwen/conf/config_multiple_instance.yaml
  examples/qwen/conf/serve/serve_multiple_qwen2.5_7b.yaml
  flagscale/runner/runner_serve.py
  flagscale/runner/utils.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

polish code
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

polish code
  examples/qwen/conf/config_multiple_instance.yaml
  examples/qwen/conf/serve/serve_multiple_qwen2.5_7b.yaml
  flagscale/serve/run_vllm.py
Owners: @FlagOpen/flagscale-reviewers, @cyber-pioneer

fix code
  flagscale/runner/runner_serve.py
Owners: @aoyulong

fix code
  flagscale/runner/runner_serve.py
Owners: @aoyulong

debug
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

polish code6
  flagscale/runner/runner_serve.py
Owners: @aoyulong

polish code
  examples/minicpm_o_2.6/conf/config_minicpm_o_2.6.yaml
  examples/minicpm_o_2.6/conf/serve/minicpm_o_2.6.yaml
Owners: @FlagOpen/flagscale-reviewers

rm temp file
  flagscale/serve/run_vllm_model.py
Owners: @cyber-pioneer

polish code
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

fix max tokens
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

polish code
  flagscale/serve/README.md
Owners: @cyber-pioneer

fix code
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

polish code
  flagscale/runner/utils.py
Owners: @aoyulong

fix code
  examples/qwen/conf/config_multiple_instance.yaml
  flagscale/runner/auto_tuner/search/searcher.py
  flagscale/runner/auto_tuner/tuner.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

debug stream
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

.github/CODEOWNERS:

# Global reviewers for the entire repository
* @FlagOpen/flagscale-reviewers

vllm/ @zhaoyinglia @ceci3 @aoyulong
megatron/ @heavyrain-lzy @aoyulong @zhaoyinglia
megatron-energon/ @caozhou1995
requirements/ @aoyulong
docker/ @phoenixdong
hardware/ @caozhou1995

flagscale/auto_tuner @caozhou1995
flagscale/compress @ceci3
flagscale/inference @zhaoyinglia
flagscale/runner @aoyulong
flagscale/serve @cyber-pioneer
