Repository FlagOpen/FlagScale, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FlagOpen/flagscale-reviewers, @zhaoyinglia, @ceci3, @aoyulong, @heavyrain-lzy, @caozhou1995, @phoenixdong, @cyber-pioneer

.github/CODEOWNERS:

# Global reviewers for the entire repository
* @FlagOpen/flagscale-reviewers

vllm/ @zhaoyinglia @ceci3 @aoyulong
megatron/ @heavyrain-lzy @aoyulong @zhaoyinglia
megatron-energon/ @caozhou1995
requirements/ @aoyulong
docker/ @phoenixdong
hardware/ @caozhou1995

flagscale/auto_tuner @caozhou1995
flagscale/compress @ceci3
flagscale/inference @zhaoyinglia
flagscale/runner @aoyulong
flagscale/serve @cyber-pioneer

Add flagscale function-test instructions to run a single task
  flagscale/cli.py
  tests/functional_tests/test_cases/train/aquila/conf/train/tp2_pp2.yaml
Owners: @FlagOpen/flagscale-reviewers

Update code format
  flagscale/cli.py
  tests/functional_tests/test_cases/train/aquila/conf/train/tp2_pp2.yaml
Owners: @FlagOpen/flagscale-reviewers

Update tests/README.md for 'flagscale test' command
  tests/README.md
Owners: @FlagOpen/flagscale-reviewers

Exclude format checks for. md and. yml files
  .pre-commit-config.yaml
Owners: @FlagOpen/flagscale-reviewers

Exclude format checks for .yaml files
  .pre-commit-config.yaml
Owners: @FlagOpen/flagscale-reviewers

Update format of setup.py
  setup.py
Owners: @FlagOpen/flagscale-reviewers

Update the installation method and version of cudnn in Dockerfile
  docker/Dockerfile.cuda
  docker/README.md
  requirements/requirements-common.txt
Owners: @phoenixdong, @aoyulong

Update the naming method for images
  docker/Dockerfile.cuda
  docker/README.md
Owners: @phoenixdong

Update some details
  docker/Dockerfile.cuda
Owners: @phoenixdong

Update some details
  docker/README.md
Owners: @phoenixdong

Add mtp loss weight.
  flagscale/train/train_deepseek_v3.py
  megatron/megatron/training/arguments.py
Owners: @FlagOpen/flagscale-reviewers, @heavyrain-lzy, @aoyulong, @zhaoyinglia

Adjust install and requirements
  install/install-requirements.sh
  requirements/requirements-dev.txt
  requirements/requirements-lint.txt
  requirements/train/megatron/requirements-cuda.txt
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

support sharded state dict for mtp
  flagscale/train/models/deepseek_v3/multi_token_predictor.py
Owners: @FlagOpen/flagscale-reviewers

[Feature] Add MTP loss weight. (#426)
  flagscale/train/train_deepseek_v3.py
  megatron/megatron/training/arguments.py
Owners: @FlagOpen/flagscale-reviewers, @heavyrain-lzy, @aoyulong, @zhaoyinglia

Add flashattn_hopper
  install/install-requirements.sh
Owners: @FlagOpen/flagscale-reviewers

fix hetero etp & update aquial_3B config
  examples/aquila/conf/train/train_aquila_3b.yaml
  examples/deepseek_v3/conf/train/train_deepseek_v3_hetero.yaml
  flagscale/train/arguments.py
  flagscale/train/hetero/parallel_context.py
Owners: @FlagOpen/flagscale-reviewers

[kunlunxin]adaption for vllm
  hardware/kunlunxin_R300p/9e1a26ff/9e1a26ff.patch.encrypted
Owners: @caozhou1995

[AutoTuner] Support more search space in serving (#421)
  examples/qwen/conf/config_auto_tune_serve.yaml
  examples/qwen/conf/config_qwen2.5_7b.yaml
  examples/qwen/conf/serve/serve_qwen2.5_7b.yaml
  flagscale/runner/auto_tuner/generate.py
  flagscale/runner/auto_tuner/search/searcher.py
  flagscale/runner/auto_tuner/tuner.py
  flagscale/runner/runner_serve.py
  flagscale/runner/utils.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

[Fix] Fix hetero etp & update aquial_3B config (#429)
  examples/aquila/conf/train/train_aquila_3b.yaml
  examples/deepseek_v3/conf/train/train_deepseek_v3_hetero.yaml
  flagscale/train/arguments.py
  flagscale/train/hetero/parallel_context.py
Owners: @FlagOpen/flagscale-reviewers

Add minicmp_o_2.6 yaml
  examples/minicpm_o_2.6/conf/config_minicpm_o_2.6.yaml
  examples/minicpm_o_2.6/conf/serve/minicpm_o_2.6.yaml
Owners: @FlagOpen/flagscale-reviewers

Add minicmp_o_2.6 yaml (#430)
  examples/minicpm_o_2.6/conf/config_minicpm_o_2.6.yaml
  examples/minicpm_o_2.6/conf/serve/minicpm_o_2.6.yaml
Owners: @FlagOpen/flagscale-reviewers

[kunlunxin]adaption for vllm (#428)
  hardware/kunlunxin_R300p/9e1a26ff/9e1a26ff.patch.encrypted
Owners: @caozhou1995

improve cpu based communication to support moe
  megatron/megatron/core/models/common/language_module/language_module.py
  megatron/megatron/core/optimizer/clip_grads.py
  megatron/megatron/core/transformer/moe/moe_utils.py
  megatron/megatron/core/transformer/transformer_block.py
  megatron/megatron/training/utils.py
Owners: @heavyrain-lzy, @aoyulong, @zhaoyinglia

Add flashattn-hopper and add unit-test post_training
  .github/workflows/all-tests.yml
  changed_files.txt
  install/install-requirements.sh
  tests/scripts/unit_tests/config.yml
  tests/scripts/unit_tests/test_all.sh
Owners: @FlagOpen/flagscale-reviewers

support cpu-based comm for mtp
  flagscale/train/models/deepseek_v3/deepseek_v3_model.py
Owners: @FlagOpen/flagscale-reviewers

polish
  flagscale/train/models/deepseek_v3/deepseek_v3_model.py
Owners: @FlagOpen/flagscale-reviewers

flash-attention.git@v2.7.2#egg=flashattn-hopper&subdirectory=hopper
  install/install-requirements.sh
Owners: @FlagOpen/flagscale-reviewers

[Feature] Support sharded state dict of mtp for distributed checkpointing (#427)
  flagscale/train/models/deepseek_v3/multi_token_predictor.py
Owners: @FlagOpen/flagscale-reviewers

fix code
  flagscale/runner/auto_tuner/generate.py
Owners: @aoyulong

fix code
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

fix code
  flagscale/runner/auto_tuner/generate.py
Owners: @aoyulong

debug
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

fix code
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

polish tune code
  examples/qwen/conf/config_multiple_instance.yaml
  flagscale/runner/runner_serve.py
  flagscale/serve/run_vllm.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong, @cyber-pioneer

fix code
  examples/qwen/conf/config_multiple_instance.yaml
  flagscale/runner/runner_serve.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

fix code
  flagscale/runner/runner_serve.py
Owners: @aoyulong

delete comment
  flagscale/runner/auto_tuner/tuner.py
Owners: @aoyulong

remove uncessary code
  flagscale/serve/run_vllm.py
Owners: @cyber-pioneer

polish log
  flagscale/runner/utils.py
Owners: @aoyulong

add more space
  flagscale/runner/auto_tuner/tuner.py
Owners: @aoyulong
