Repository FlagOpen/FlagScale, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FlagOpen/flagscale-reviewers, @zhaoyinglia, @ceci3, @aoyulong, @heavyrain-lzy, @caozhou1995, @phoenixdong, @cyber-pioneer

fix code
  flagscale/serve/README.md
  run.py
Owners: @cyber-pioneer, @FlagOpen/flagscale-reviewers

fix code
  flagscale/runner/runner_serve.py
Owners: @aoyulong

fix code
  examples/deepseek_r1/conf/hostfile.txt
  flagscale/runner/runner_serve.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

pause test case
  tests/scripts/functional_tests/config.yml
Owners: @FlagOpen/flagscale-reviewers

pause test case
  tests/scripts/functional_tests/config.yml
Owners: @FlagOpen/flagscale-reviewers

fix code
  flagscale/runner/auto_tuner/generate.py
Owners: @aoyulong

fix code
  tests/scripts/functional_tests/config.yml
Owners: @FlagOpen/flagscale-reviewers

fix code
  tests/scripts/functional_tests/config.yml
  tests/scripts/functional_tests/test_task.sh
Owners: @FlagOpen/flagscale-reviewers

polish config yaml
  examples/deepseek/conf/serve/deepseek_v3.yaml
  examples/deepseek_r1/conf/serve/deepseek_r1.yaml
  examples/minicpm_o_2.6/conf/serve/minicpm_o_2.6.yaml
  examples/qwen/conf/serve/serve_multiple_instance.yaml
  examples/qwen/conf/serve/serve_qwen2.5_72b.yaml
  examples/qwen/conf/serve/serve_qwen2.5_7b.yaml
  flagscale/runner/auto_tuner/generate.py
  flagscale/runner/runner_serve.py
  flagscale/serve/README.md
  flagscale/serve/run_fs_serve_vllm.py
  flagscale/serve/run_inference_engine.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong, @cyber-pioneer

fix code
  flagscale/runner/auto_tuner/tuner.py
Owners: @aoyulong

[Serve] Support to serve and autotune vllm model with multiple instances (#424)
  README.md
  examples/deepseek/conf/config_auto_deepseek_v3.yaml
  examples/deepseek/conf/config_deepseek_v3.yaml
  examples/deepseek/conf/serve/deepseek_v3.yaml
  examples/deepseek_r1/conf/config_deepseek_r1.yaml
  examples/deepseek_r1/conf/hostfile.txt
  examples/deepseek_r1/conf/serve/deepseek_r1.yaml
  examples/minicpm_o_2.6/conf/config_minicpm_o_2.6.yaml
  examples/minicpm_o_2.6/conf/serve/minicpm_o_2.6.yaml
  examples/qwen/conf/config_auto_tune_serve.yaml
  examples/qwen/conf/config_multiple_instance.yaml
  examples/qwen/conf/config_qwen2.5_72b_tp.yaml
  examples/qwen/conf/config_qwen2.5_7b.yaml
  examples/qwen/conf/config_ssh_qwen2.5_7b.yaml
  examples/qwen/conf/serve/serve_multiple_instance.yaml
  examples/qwen/conf/serve/serve_qwen2.5_7b.yaml
  flagscale/runner/auto_tuner/generate.py
  flagscale/runner/auto_tuner/record/recorder.py
  flagscale/runner/auto_tuner/search/searcher.py
  flagscale/runner/auto_tuner/tuner.py
  flagscale/runner/auto_tuner/utils.py
  flagscale/runner/runner_serve.py
  flagscale/runner/utils.py
  flagscale/serve/README.md
  flagscale/serve/run_fs_serve_vllm.py
  flagscale/serve/run_inference_engine.py
  flagscale/serve/run_serve_engine.py
  flagscale/serve/run_vllm.py
  flagscale/utils.py
  run.py
  tests/scripts/functional_tests/test_task.sh
Owners: @FlagOpen/flagscale-reviewers, @aoyulong, @cyber-pioneer

Update ci_image
  .github/workflows/all-tests.yml
Owners: @FlagOpen/flagscale-reviewers

Update ci_image
  .github/workflows/all-tests.yml
  requirements/requirements-base.txt
  requirements/requirements-common.txt
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

Update FlagScale/requirements/requirements-common.txt
  requirements/requirements-common.txt
Owners: @aoyulong

Update ci_image
  .github/workflows/all-tests.yml
Owners: @FlagOpen/flagscale-reviewers

Update requirements/requirements-common.txt and ci_image
  .github/workflows/all-tests.yml
  requirements/requirements-common.txt
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

Update requirements/requirements-common.txt
  requirements/requirements-base.txt
Owners: @aoyulong

Update CUDNN install
  docker/Dockerfile.cuda
Owners: @phoenixdong

Update torch 2.5.1->2.6.0
  .github/workflows/all-tests.yml
  docker/Dockerfile.cuda
  docker/README.md
  requirements/requirements-common.txt
Owners: @FlagOpen/flagscale-reviewers, @phoenixdong, @aoyulong

Add nvidia-cudnn-cu12==9.5.0.10 in requirements/requirements-common.txt
  log03311916
  requirements/requirements-common.txt
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

Update CUDNN installation
  .github/workflows/all-tests.yml
  docker/Dockerfile.cuda
  docker/README.md
  requirements/requirements-common.txt
Owners: @FlagOpen/flagscale-reviewers, @phoenixdong, @aoyulong

clone from fork
  docker/Dockerfile.cuda
Owners: @phoenixdong

Add CUDA_MAJOR
  docker/Dockerfile.cuda
Owners: @phoenixdong

Del nouse file
  docker/log04011226
  log03311916
Owners: @phoenixdong, @FlagOpen/flagscale-reviewers

Update docker/Dockerfile.cuda
  docker/Dockerfile.cuda
  docker/log04011226
Owners: @phoenixdong

Install torch in advance to avoid dependency conflicts
  install/install-requirements.sh
  requirements/requirements-common.txt
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

[Core] Improve cpu-based communication to support MoE models (#432)
  flagscale/train/models/deepseek_v3/deepseek_v3_model.py
  megatron/megatron/core/models/common/language_module/language_module.py
  megatron/megatron/core/optimizer/clip_grads.py
  megatron/megatron/core/transformer/moe/moe_utils.py
  megatron/megatron/core/transformer/transformer_block.py
  megatron/megatron/training/utils.py
Owners: @FlagOpen/flagscale-reviewers, @heavyrain-lzy, @aoyulong, @zhaoyinglia

deepspeed==0.16.5
  requirements/requirements-common.txt
Owners: @aoyulong

bi150_deepseek_r1_int4_vllm073_patch
  hardware/bi_V150/de667e42/de667e42.patch.encrypted
Owners: @caozhou1995

Update cli and scripts/unit_tests/config.yml
  flagscale/cli.py
  tests/scripts/unit_tests/config.yml
Owners: @FlagOpen/flagscale-reviewers

[bi_V150] test patch cover
  hardware/bi_V150/758e33e0/758e33e0.patch.encrypted
Owners: @caozhou1995

Update cudnn install method
  docker/Dockerfile.cuda
Owners: @phoenixdong

fix patch bug
  tools/patch/patch.py
Owners: @FlagOpen/flagscale-reviewers

fix get_valid_types_tasks_cases and add megatron-energon
  flagscale/cli.py
  setup.py
Owners: @FlagOpen/flagscale-reviewers

fix some bug
  flagscale/cli.py
Owners: @FlagOpen/flagscale-reviewers

Update code format
  flagscale/cli.py
Owners: @FlagOpen/flagscale-reviewers

[bi_V150] bi deepseek_r1_int4 vllm0.7.3 patch
  hardware/bi_V150/758e33e0/758e33e0.patch.encrypted
Owners: @caozhou1995

Update docker/Dockerfile.cuda and install/install-requirements.sh
  docker/Dockerfile.cuda
  docker/README.md
  install/install-requirements.sh
  requirements/requirements-common.txt
Owners: @phoenixdong, @FlagOpen/flagscale-reviewers, @aoyulong

Update cudnn install
  .github/workflows/all-tests.yml
  docker/Dockerfile.cuda
Owners: @FlagOpen/flagscale-reviewers, @phoenixdong

Update bashrc
  docker/Dockerfile.cuda
Owners: @phoenixdong

.github/CODEOWNERS:

# Global reviewers for the entire repository
* @FlagOpen/flagscale-reviewers

vllm/ @zhaoyinglia @ceci3 @aoyulong
megatron/ @heavyrain-lzy @aoyulong @zhaoyinglia
megatron-energon/ @caozhou1995
requirements/ @aoyulong
docker/ @phoenixdong
hardware/ @caozhou1995

flagscale/auto_tuner @caozhou1995
flagscale/compress @ceci3
flagscale/inference @zhaoyinglia
flagscale/runner @aoyulong
flagscale/serve @cyber-pioneer
