Repository FlagOpen/FlagScale, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FlagOpen/flagscale-reviewers, @zhaoyinglia, @ceci3, @aoyulong, @heavyrain-lzy, @caozhou1995, @phoenixdong, @cyber-pioneer

format
  tools/checkpoint/deepseek_v3/ckpt.py
Owners: @FlagOpen/flagscale-reviewers

format
  tools/checkpoint/deepseek_v3/ckpt.py
Owners: @FlagOpen/flagscale-reviewers

Add deepseek in workflow, update gold value
  .github/workflows/all-tests.yml
  changed_files.txt
  tests/functional_tests/test_cases/train/deepseek/results_gold/tp2_pp2_ep2.json
  tests/functional_tests/test_cases/train/llava_onevision/results_gold/tp2.json
  tests/functional_tests/test_cases/train/llava_onevision/results_gold/tp4.json
Owners: @FlagOpen/flagscale-reviewers

1、排除.idea目录
  .gitignore
Owners: @FlagOpen/flagscale-reviewers

Update tests/functional_tests/test_cases/train/llava_onevision/results_gold/tp2.json
  changed_files.txt
  tests/functional_tests/test_cases/train/llava_onevision/results_gold/tp2.json
Owners: @FlagOpen/flagscale-reviewers

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Owners: @FlagOpen/flagscale-reviewers

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Owners: @FlagOpen/flagscale-reviewers

Update tests/functional_tests/test_cases/train/llava_onevision/results_gold/tp4.json
  tests/functional_tests/test_cases/train/llava_onevision/results_gold/tp4.json
Owners: @FlagOpen/flagscale-reviewers

[Feature]support tp for deepseek checkpoint conversion (#445)
  tools/checkpoint/deepseek_v3/ckpt.py
Owners: @FlagOpen/flagscale-reviewers

Fix https://github.com/FlagOpen/FlagScale/issues/447
  tools/patch/common.py
  tools/patch/patch.py
Owners: @FlagOpen/flagscale-reviewers

[metax_C550] update vllm 0.7.2 patch
  hardware/metax_C550/19ade795/19ade795.patch
Owners: @caozhou1995

[Tools] Fix patch encoding error (#448)
  tools/patch/common.py
  tools/patch/patch.py
Owners: @FlagOpen/flagscale-reviewers

[Image] [CI] Update cuDNN, add deepseek train test (#425)
  .github/workflows/all-tests.yml
  .pre-commit-config.yaml
  docker/Dockerfile.cuda
  docker/README.md
  install/install-requirements.sh
  requirements/requirements-base.txt
  requirements/requirements-common.txt
  requirements/requirements-dev.txt
  requirements/requirements-lint.txt
  requirements/serving/requirements.txt
  requirements/train/megatron/requirements-cuda.txt
  tests/functional_tests/test_cases/train/deepseek/conf/tp2_pp2_ep2.yaml
  tests/functional_tests/test_cases/train/deepseek/conf/train/tp2_pp2_ep2.yaml
  tests/functional_tests/test_cases/train/deepseek/results_gold/tp2_pp2_ep2.json
  tests/scripts/functional_tests/config.yml
  tests/scripts/functional_tests/test_all.sh
  tests/scripts/unit_tests/config.yml
  tests/scripts/unit_tests/test_all.sh
Owners: @FlagOpen/flagscale-reviewers, @phoenixdong, @aoyulong

.github/CODEOWNERS:

# Global reviewers for the entire repository
* @FlagOpen/flagscale-reviewers

vllm/ @zhaoyinglia @ceci3 @aoyulong
megatron/ @heavyrain-lzy @aoyulong @zhaoyinglia
megatron-energon/ @caozhou1995
requirements/ @aoyulong
docker/ @phoenixdong
hardware/ @caozhou1995

flagscale/auto_tuner @caozhou1995
flagscale/compress @ceci3
flagscale/inference @zhaoyinglia
flagscale/runner @aoyulong
flagscale/serve @cyber-pioneer
