Repository FlagOpen/FlagScale, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FlagOpen/flagscale-reviewers, @zhaoyinglia, @ceci3, @aoyulong, @heavyrain-lzy, @caozhou1995, @phoenixdong, @cyber-pioneer

.github/CODEOWNERS:

# Global reviewers for the entire repository
* @FlagOpen/flagscale-reviewers

vllm/ @zhaoyinglia @ceci3 @aoyulong
megatron/ @heavyrain-lzy @aoyulong @zhaoyinglia
megatron-energon/ @caozhou1995
requirements/ @aoyulong
docker/ @phoenixdong
hardware/ @caozhou1995

flagscale/auto_tuner @caozhou1995
flagscale/compress @ceci3
flagscale/inference @zhaoyinglia
flagscale/runner @aoyulong
flagscale/serve @cyber-pioneer

Using task instead of mission.
  .github/workflows/all-tests.yml
  .github/workflows/functional-tests.yml
  tests/README.md
  tests/functional_tests/test_utils/conftest.py
  tests/functional_tests/test_utils/test_call.py
  tests/functional_tests/test_utils/test_equal.py
  tests/scripts/functional_tests/parse_config.py
  tests/scripts/functional_tests/test_all.sh
  tests/scripts/functional_tests/test_mission.sh
Owners: @FlagOpen/flagscale-reviewers

Using task instead of mission.
  tests/scripts/functional_tests/test_task.sh
Owners: @FlagOpen/flagscale-reviewers

Update tests/functional_tests/test_utils/test_call.py
  tests/functional_tests/test_utils/test_call.py
Owners: @FlagOpen/flagscale-reviewers

Update tests/scripts/functional_tests/test_task.sh
  tests/scripts/functional_tests/test_task.sh
Owners: @FlagOpen/flagscale-reviewers

tests/functional_tests/test_utils/test_call.py
  tests/functional_tests/test_utils/test_call.py
Owners: @FlagOpen/flagscale-reviewers

Using TE 5bb771e
  install/install-requirements.sh
Owners: @FlagOpen/flagscale-reviewers

[CI] Multiple optimizations and updates (#399)
  .github/workflows/all-tests.yml
  .github/workflows/functional-tests.yml
  .pre-commit-config.yaml
  docker/Dockerfile.cuda
  docker/Dockerfile.ssh
  install/install-requirements.sh
  requirements/requirements-lint.txt
  tests/README.md
  tests/functional_tests/test_cases/serve/base/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/base/conf/serve/multiple_model.yaml
  tests/functional_tests/test_cases/serve/multiple_nodes/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/multiple_nodes/conf/serve/multiple_model.yaml
  tests/functional_tests/test_cases/serve/test_serve_base/test_call.py
  tests/functional_tests/test_cases/serve/test_serve_multiple_nodes/test_call.py
  tests/functional_tests/test_cases/serve/test_serve_vllm_model/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/test_serve_vllm_model/test_call.py
  tests/functional_tests/test_cases/serve/vllm_model/conf/multiple_model.yaml
  tests/functional_tests/test_cases/serve/vllm_model/conf/serve/multiple_model.yaml
  tests/functional_tests/test_cases/train/llava_onevision/conf/train/tp2.yaml
  tests/functional_tests/test_cases/train/llava_onevision/conf/train/tp4.yaml
  tests/functional_tests/test_cases/train/llava_onevision/results_gold/tp2.json
  tests/functional_tests/test_cases/train/llava_onevision/results_gold/tp4.json
  tests/functional_tests/test_utils/conftest.py
  tests/functional_tests/test_utils/test_call.py
  tests/functional_tests/test_utils/test_equal.py
  tests/scripts/_tests_log.sh
  tests/scripts/_tests_stop.sh
  tests/scripts/functional_tests/config.yml
  tests/scripts/functional_tests/parse_config.py
  tests/scripts/functional_tests/test_all.sh
  tests/scripts/functional_tests/test_model.sh
  tests/scripts/functional_tests/test_task.sh
  tests/scripts/unit_tests/config.yml
  tests/scripts/unit_tests/parse_config.py
  tests/scripts/unit_tests/test_subset.sh
  tests/scripts/utils.sh
Owners: @FlagOpen/flagscale-reviewers, @phoenixdong, @aoyulong

Update CI images to commit e05f659
  .github/workflows/all-tests.yml
Owners: @FlagOpen/flagscale-reviewers

Implement Zero Bubble (ZB-1H) scheduling into FlagScale, which splits BW into B and W.
  megatron/megatron/core/pipeline_parallel/schedules.py
  megatron/megatron/core/tensor_parallel/layers.py
  megatron/megatron/core/weight_grad_store.py
  megatron/megatron/training/arguments.py
Owners: @heavyrain-lzy, @aoyulong, @zhaoyinglia

[Core] Support the MoE heterogenous training of DeepSeek V3 (#395)
  examples/aquila/conf/train/demo.yaml
  examples/deepseek_v3/conf/train/train_deepseek_v3_hetero.yaml
  flagscale/train/arguments.py
  flagscale/train/hetero/p2p_communication.py
  flagscale/train/hetero/parallel_context.py
  flagscale/train/train.py
  megatron/megatron/core/distributed/finalize_model_grads.py
  megatron/megatron/core/optimizer/__init__.py
  megatron/megatron/core/transformer/moe/experts.py
  megatron/megatron/core/transformer/moe/moe_utils.py
  megatron/megatron/training/arguments.py
  megatron/megatron/training/utils.py
Owners: @FlagOpen/flagscale-reviewers, @heavyrain-lzy, @aoyulong, @zhaoyinglia

Implement Zero Bubble (ZB-1H) scheduling into FlagScale, which splits BW into B and W.
  megatron/megatron/core/pipeline_parallel/schedules.py
  megatron/megatron/core/tensor_parallel/layers.py
  megatron/megatron/core/weight_grad_store.py
  megatron/megatron/training/arguments.py
Owners: @heavyrain-lzy, @aoyulong, @zhaoyinglia

Install requirements-lint.txt outside of the conda environment
  install/install-requirements.sh
Owners: @FlagOpen/flagscale-reviewers

[CI] Update CI images (#403)
  .github/workflows/all-tests.yml
  install/install-requirements.sh
Owners: @FlagOpen/flagscale-reviewers

update train.py and ohter associated files
  flagscale/train/hetero/parallel_context.py
  flagscale/train/train.py
  flagscale/train/train_deepseek_v3.py
  flagscale/train/train_gpt.py
  megatron/megatron/core/optimizer/__init__.py
  megatron/megatron/core/optimizer/clip_grads.py
Owners: @FlagOpen/flagscale-reviewers, @heavyrain-lzy, @aoyulong, @zhaoyinglia

update parallel_context
  flagscale/train/hetero/parallel_context.py
  megatron/megatron/core/parallel_state.py
  megatron/megatron/training/tokenizer/tokenizer.py
  megatron/tests/unit_tests/distributed/test_grad_sync_with_expert_parallel.py
Owners: @FlagOpen/flagscale-reviewers, @heavyrain-lzy, @aoyulong, @zhaoyinglia

Add tools to monitor training anomalies in real time and send reminder emails
  tools/monitor/README.md
  tools/monitor/config.yaml
  tools/monitor/monitor.py
  tools/monitor/requirements.txt
Owners: @FlagOpen/flagscale-reviewers

[Core] Add a general estimator
  flagscale/runner/estimator/__init__.py
  flagscale/runner/estimator/meta_attention.py
  flagscale/runner/estimator/meta_base.py
  flagscale/runner/estimator/meta_gpt.py
  flagscale/runner/estimator/meta_mlp.py
  flagscale/runner/estimator/meta_modules.py
  flagscale/runner/estimator/meta_transformer_layer.py
  flagscale/runner/estimator/utils.py
  tests/unit_tests/runner/estimator/test_meta_attention.py
  tests/unit_tests/runner/estimator/test_meta_base.py
  tests/unit_tests/runner/estimator/test_meta_gpt.py
  tests/unit_tests/runner/estimator/test_meta_mlp.py
  tests/unit_tests/runner/estimator/test_meta_modules.py
  tests/unit_tests/runner/estimator/test_meta_transformer_layer.py
  tools/estimator/estimate_gpt.py
Owners: @aoyulong, @FlagOpen/flagscale-reviewers

Use the pre-commit to format files
  flagscale/runner/estimator/meta_attention.py
  flagscale/runner/estimator/meta_base.py
  flagscale/runner/estimator/meta_gpt.py
  flagscale/runner/estimator/meta_mlp.py
  flagscale/runner/estimator/meta_modules.py
  flagscale/runner/estimator/meta_transformer_layer.py
  flagscale/runner/estimator/utils.py
  tests/unit_tests/runner/estimator/test_meta_attention.py
  tests/unit_tests/runner/estimator/test_meta_base.py
  tests/unit_tests/runner/estimator/test_meta_gpt.py
  tests/unit_tests/runner/estimator/test_meta_mlp.py
  tests/unit_tests/runner/estimator/test_meta_modules.py
  tests/unit_tests/runner/estimator/test_meta_transformer_layer.py
  tools/estimator/estimate_gpt.py
Owners: @aoyulong, @FlagOpen/flagscale-reviewers

fix
  examples/deepseek_v3/conf/config_deepseek_v3.yaml
  examples/deepseek_v3/conf/train/train_deepseek_v3.yaml
  tools/checkpoint/loader_mcore.py
  tools/checkpoint/saver_mcore.py
Owners: @FlagOpen/flagscale-reviewers

fix expert bias bug
  megatron/megatron/core/distributed/finalize_model_grads.py
  megatron/megatron/core/transformer/moe/router.py
Owners: @heavyrain-lzy, @aoyulong, @zhaoyinglia

reset
  examples/deepseek_v3/conf/config_deepseek_v3.yaml
  examples/deepseek_v3/conf/train/train_deepseek_v3.yaml
  tools/checkpoint/saver_mcore.py
Owners: @FlagOpen/flagscale-reviewers

fix expert bias bug
  examples/deepseek_v3/conf/config_deepseek_v3.yaml
  examples/deepseek_v3/conf/train/train_deepseek_v3.yaml
  megatron/megatron/core/transformer/moe/router.py
  megatron/tests/unit_tests/transformer/moe/test_grouped_mlp.py
  megatron/tests/unit_tests/transformer/moe/test_routers.py
  megatron/tests/unit_tests/transformer/moe/test_sequential_mlp.py
  megatron/tests/unit_tests/transformer/moe/test_shared_experts.py
  tools/checkpoint/deepseek_v3/ckpt.py
  tools/checkpoint/saver_mcore.py
Owners: @FlagOpen/flagscale-reviewers, @heavyrain-lzy, @aoyulong, @zhaoyinglia

Fix some unit tests
  flagscale/runner/estimator/meta_transformer_layer.py
  tests/unit_tests/runner/estimator/test_meta_modules.py
Owners: @aoyulong, @FlagOpen/flagscale-reviewers

[Core] Add a general estimator (#408)
  flagscale/runner/estimator/__init__.py
  flagscale/runner/estimator/meta_attention.py
  flagscale/runner/estimator/meta_base.py
  flagscale/runner/estimator/meta_gpt.py
  flagscale/runner/estimator/meta_mlp.py
  flagscale/runner/estimator/meta_modules.py
  flagscale/runner/estimator/meta_transformer_layer.py
  flagscale/runner/estimator/utils.py
  tests/unit_tests/runner/estimator/test_meta_attention.py
  tests/unit_tests/runner/estimator/test_meta_base.py
  tests/unit_tests/runner/estimator/test_meta_gpt.py
  tests/unit_tests/runner/estimator/test_meta_mlp.py
  tests/unit_tests/runner/estimator/test_meta_modules.py
  tests/unit_tests/runner/estimator/test_meta_transformer_layer.py
  tools/estimator/estimate_gpt.py
Owners: @aoyulong, @FlagOpen/flagscale-reviewers

Fix expert_bias saving and loading bugs in moe router (#412)
  megatron/megatron/core/transformer/moe/router.py
  megatron/tests/unit_tests/transformer/moe/test_grouped_mlp.py
  megatron/tests/unit_tests/transformer/moe/test_routers.py
  megatron/tests/unit_tests/transformer/moe/test_sequential_mlp.py
  megatron/tests/unit_tests/transformer/moe/test_shared_experts.py
  tools/checkpoint/deepseek_v3/ckpt.py
  tools/checkpoint/loader_mcore.py
  tools/checkpoint/saver_mcore.py
Owners: @heavyrain-lzy, @aoyulong, @zhaoyinglia, @FlagOpen/flagscale-reviewers

process llava ov data by cpu
  tools/datasets/llava_onevision/README.md
  tools/datasets/llava_onevision/llava_ov_index.py
  tools/datasets/llava_onevision/llava_ov_wds_by_cpu.py
  tools/datasets/llava_onevision/make_llava_ov_index.sh
  tools/datasets/llava_onevision/make_llava_ov_wds_by_cpu.sh
Owners: @FlagOpen/flagscale-reviewers

Add a handling suggestion to the prompt for unpatch.
  tools/patch/unpatch.py
Owners: @FlagOpen/flagscale-reviewers

Update some wording
  tools/patch/unpatch.py
Owners: @FlagOpen/flagscale-reviewers

[TOOLS] Add a handling suggestion to the prompt for unpatch (#418)
  tools/patch/unpatch.py
Owners: @FlagOpen/flagscale-reviewers

[metax_C550] update vllm 0.7.2 patch and support deepseek-v3/r1 add support minicpm
  hardware/metax_C550/720f091b/720f091b.patch
Owners: @caozhou1995

[metax_C550] update vllm 0.7.2 patch and support deepseek-v3/r1 add support minicpm
  hardware/metax_C550/57637057/57637057.patch
Owners: @caozhou1995

[metax_C550] update vllm 0.7.2 patch (#419)
  hardware/metax_C550/720f091b/720f091b.patch
Owners: @caozhou1995

Improve some impls of estimator
  flagscale/runner/estimator/meta_attention.py
  flagscale/runner/estimator/meta_base.py
  flagscale/runner/estimator/meta_functional.py
  flagscale/runner/estimator/meta_gpt.py
  flagscale/runner/estimator/meta_mlp.py
  flagscale/runner/estimator/meta_modules.py
  flagscale/runner/estimator/meta_registry.py
  flagscale/runner/estimator/meta_tensor.py
  flagscale/runner/estimator/meta_transformer_layer.py
  flagscale/runner/estimator/utils.py
  tests/unit_tests/runner/estimator/test_meta_attention.py
  tests/unit_tests/runner/estimator/test_meta_base.py
  tests/unit_tests/runner/estimator/test_meta_gpt.py
  tests/unit_tests/runner/estimator/test_meta_mlp.py
  tests/unit_tests/runner/estimator/test_meta_modules.py
  tests/unit_tests/runner/estimator/test_meta_registry.py
  tests/unit_tests/runner/estimator/test_meta_tensor.py
  tests/unit_tests/runner/estimator/test_meta_transformer_layer.py
  tools/estimator/estimate_gpt.py
Owners: @aoyulong, @FlagOpen/flagscale-reviewers

Improve some impls of zero bubble
  examples/aquila/conf/train/demo_zb.yaml
  flagscale/train/weight_grad_store.py
  megatron/megatron/core/pipeline_parallel/schedules.py
  megatron/megatron/core/tensor_parallel/layers.py
  megatron/megatron/training/arguments.py
Owners: @FlagOpen/flagscale-reviewers, @heavyrain-lzy, @aoyulong, @zhaoyinglia

fix to pass megatron unit test
  flagscale/train/train.py
  flagscale/train/weight_grad_store.py
  megatron/megatron/core/pipeline_parallel/schedules.py
  megatron/megatron/core/tensor_parallel/layers.py
  megatron/megatron/training/training.py
Owners: @FlagOpen/flagscale-reviewers, @heavyrain-lzy, @aoyulong, @zhaoyinglia

Improve some impls of estimator (#420)
  flagscale/runner/estimator/meta_attention.py
  flagscale/runner/estimator/meta_base.py
  flagscale/runner/estimator/meta_functional.py
  flagscale/runner/estimator/meta_gpt.py
  flagscale/runner/estimator/meta_mlp.py
  flagscale/runner/estimator/meta_modules.py
  flagscale/runner/estimator/meta_registry.py
  flagscale/runner/estimator/meta_tensor.py
  flagscale/runner/estimator/meta_transformer_layer.py
  flagscale/runner/estimator/utils.py
  tests/unit_tests/runner/estimator/test_meta_attention.py
  tests/unit_tests/runner/estimator/test_meta_base.py
  tests/unit_tests/runner/estimator/test_meta_gpt.py
  tests/unit_tests/runner/estimator/test_meta_mlp.py
  tests/unit_tests/runner/estimator/test_meta_modules.py
  tests/unit_tests/runner/estimator/test_meta_registry.py
  tests/unit_tests/runner/estimator/test_meta_tensor.py
  tests/unit_tests/runner/estimator/test_meta_transformer_layer.py
  tools/estimator/estimate_gpt.py
Owners: @aoyulong, @FlagOpen/flagscale-reviewers

add more space
  examples/qwen/conf/config_auto_tune_serve.yaml
  examples/qwen/conf/config_qwen2.5_7b.yaml
  examples/qwen/conf/serve/serve_qwen2.5_7b.yaml
  flagscale/runner/auto_tuner/generate.py
  flagscale/runner/auto_tuner/search/searcher.py
  flagscale/runner/auto_tuner/tuner.py
  flagscale/runner/runner_serve.py
  flagscale/runner/utils.py
Owners: @FlagOpen/flagscale-reviewers, @aoyulong

delete comment
  flagscale/runner/auto_tuner/tuner.py
Owners: @aoyulong

Add single subset test directive
  flagscale/cli.py
  setup.py
  tests/scripts/unit_tests/config.yml
  tests/scripts/unit_tests/parse_config.py
  tests/scripts/unit_tests/test_subset.sh
Owners: @FlagOpen/flagscale-reviewers

Add command 'flagscale unit-test-all '
  flagscale/cli.py
  tests/scripts/unit_tests/config.yml
Owners: @FlagOpen/flagscale-reviewers
